// Lvim Colorscheme TokyonightDark
themes {
    lvim {
        text_unselected {
            base "#b2b6c7"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        text_selected {
            base "#b5b9ca"
            background "#222534"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        ribbon_selected {
            base "#13131a"
            background "#9dbd7b"
            emphasis_0 "#d76479"
            emphasis_1 "#dd8b5a"
            emphasis_2 "#9470d5"
            emphasis_3 "#9381b3"
        }
        ribbon_unselected {
            base "#b2b6c7"
            background "#292e42"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#b5b9ca"
            emphasis_2 "#9470d5"
            emphasis_3 "#9381b3"
        }
        table_title {
            base "#9dbd7b"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        table_cell_selected {
            base "#b5b9ca"
            background "#222534"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        table_cell_unselected {
            base "#b2b6c7"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        list_selected {
            base "#b5b9ca"
            background "#222534"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        list_unselected {
            base "#b2b6c7"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        frame_selected {
            base "#6589d7"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        frame_highlight {
            base "#dd8b5a"
            background "#13131a"
            emphasis_0 "#9470d5"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9381b3"
        }
        exit_code_success {
            base "#9dbd7b"
            background "#13131a"
            emphasis_0 "#36a08b"
            emphasis_1 "#60b0de"
            emphasis_2 "#9dbd7b"
            emphasis_3 "#9470d5"
        }
        exit_code_error {
            base "#d76479"
            background "#13131a"
            emphasis_0 "#dd8b5a"
            emphasis_1 "#c5a06b"
            emphasis_2 "#9470d5"
            emphasis_3 "#9381b3"
        }
        multiplayer_user_colors {
            player_1 "#9470d5"
            player_2 "#6589d7"
            player_3 "#9dbd7b"
            player_4 "#dd8b5a"
            player_5 "#9381b3"
            player_6 "#36a08b"
            player_7 "#60b0de"
            player_8 "#c5a06b"
            player_9 "#d76479"
            player_10 "#616784"
        }
    }
}
