// Lvim Colorscheme SolarizedDark
themes {
    lvim {
        text_unselected {
            base "#9da4a4"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        text_selected {
            base "#969e9e"
            background "#022d38"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        ribbon_selected {
            base "#ffffff"
            background "#70793e"
            emphasis_0 "#c24f4d"
            emphasis_1 "#b46548"
            emphasis_2 "#c0578a"
            emphasis_3 "#757797"
        }
        ribbon_unselected {
            base "#9da4a4"
            background "#042f3a"
            emphasis_0 "#dd7448"
            emphasis_1 "#969e9e"
            emphasis_2 "#de6ca3"
            emphasis_3 "#8f91b0"
        }
        table_title {
            base "#8c9b35"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        table_cell_selected {
            base "#969e9e"
            background "#022d38"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        table_cell_unselected {
            base "#9da4a4"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        list_selected {
            base "#969e9e"
            background "#022d38"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        list_unselected {
            base "#9da4a4"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        frame_selected {
            base "#509ace"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        frame_highlight {
            base "#dd7448"
            background "#002732"
            emphasis_0 "#de6ca3"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#8f91b0"
        }
        exit_code_success {
            base "#8c9b35"
            background "#002732"
            emphasis_0 "#48a180"
            emphasis_1 "#4ba099"
            emphasis_2 "#8c9b35"
            emphasis_3 "#de6ca3"
        }
        exit_code_error {
            base "#e66f6d"
            background "#002732"
            emphasis_0 "#dd7448"
            emphasis_1 "#ac8f48"
            emphasis_2 "#de6ca3"
            emphasis_3 "#8f91b0"
        }
        multiplayer_user_colors {
            player_1 "#c0578a"
            player_2 "#4f7ea3"
            player_3 "#727c3e"
            player_4 "#b46548"
            player_5 "#757797"
            player_6 "#49866e"
            player_7 "#4b8580"
            player_8 "#9f8549"
            player_9 "#c24f4d"
            player_10 "#5d6a6f"
        }
    }
}
