// Lvim Colorscheme TokyonightDarker
themes {
    lvim {
        text_unselected {
            base "#b2b6c7"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        text_selected {
            base "#b5b9ca"
            background "#1a1d24"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        ribbon_selected {
            base "#14171e"
            background "#788a67"
            emphasis_0 "#bb6171"
            emphasis_1 "#bb866d"
            emphasis_2 "#907bba"
            emphasis_3 "#73638e"
        }
        ribbon_unselected {
            base "#b2b6c7"
            background "#1c1f26"
            emphasis_0 "#bb866d"
            emphasis_1 "#b5b9ca"
            emphasis_2 "#907bba"
            emphasis_3 "#73638e"
        }
        table_title {
            base "#788a67"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        table_cell_selected {
            base "#b5b9ca"
            background "#1a1d24"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        table_cell_unselected {
            base "#b2b6c7"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        list_selected {
            base "#b5b9ca"
            background "#1a1d24"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        list_unselected {
            base "#b2b6c7"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        frame_selected {
            base "#6073a4"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        frame_highlight {
            base "#bb866d"
            background "#14171e"
            emphasis_0 "#907bba"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#73638e"
        }
        exit_code_success {
            base "#788a67"
            background "#14171e"
            emphasis_0 "#5a7f76"
            emphasis_1 "#648299"
            emphasis_2 "#788a67"
            emphasis_3 "#907bba"
        }
        exit_code_error {
            base "#bb6171"
            background "#14171e"
            emphasis_0 "#bb866d"
            emphasis_1 "#b79d7b"
            emphasis_2 "#907bba"
            emphasis_3 "#73638e"
        }
        multiplayer_user_colors {
            player_1 "#907bba"
            player_2 "#6073a4"
            player_3 "#788a67"
            player_4 "#bb866d"
            player_5 "#73638e"
            player_6 "#5a7f76"
            player_7 "#648299"
            player_8 "#b79d7b"
            player_9 "#bb6171"
            player_10 "#616784"
        }
    }
}
