// Lvim Colorscheme EverforestDarker
themes {
    lvim {
        text_unselected {
            base "#8b9b86"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        text_selected {
            base "#8a9986"
            background "#242a2f"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        ribbon_selected {
            base "#ffffff"
            background "#75783a"
            emphasis_0 "#cb4f4f"
            emphasis_1 "#cc7942"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        ribbon_unselected {
            base "#8b9b86"
            background "#282f35"
            emphasis_0 "#d97f3f"
            emphasis_1 "#8a9986"
            emphasis_2 "#d58163"
            emphasis_3 "#9992a9"
        }
        table_title {
            base "#979b28"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        table_cell_selected {
            base "#8a9986"
            background "#242a2f"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        table_cell_unselected {
            base "#8b9b86"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        list_selected {
            base "#8a9986"
            background "#242a2f"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        list_unselected {
            base "#8b9b86"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        frame_selected {
            base "#32a0cc"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        frame_highlight {
            base "#d97f3f"
            background "#161b1d"
            emphasis_0 "#d58163"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#9992a9"
        }
        exit_code_success {
            base "#979b28"
            background "#161b1d"
            emphasis_0 "#00a992"
            emphasis_1 "#5fa468"
            emphasis_2 "#979b28"
            emphasis_3 "#d58163"
        }
        exit_code_error {
            base "#e57272"
            background "#161b1d"
            emphasis_0 "#d97f3f"
            emphasis_1 "#af9e6b"
            emphasis_2 "#d58163"
            emphasis_3 "#9992a9"
        }
        multiplayer_user_colors {
            player_1 "#bb755e"
            player_2 "#42728b"
            player_3 "#75783a"
            player_4 "#cc7942"
            player_5 "#635d71"
            player_6 "#357b6d"
            player_7 "#527a57"
            player_8 "#af9e6b"
            player_9 "#cb4f4f"
            player_10 "#535d4e"
        }
    }
}
