// Lvim Colorscheme NordDark
themes {
    lvim {
        text_unselected {
            base "#b3bac6"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        text_selected {
            base "#b4bac6"
            background "#252a33"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        ribbon_selected {
            base "#1f242d"
            background "#879978"
            emphasis_0 "#ac6e74"
            emphasis_1 "#b88473"
            emphasis_2 "#a2869d"
            emphasis_3 "#887f93"
        }
        ribbon_unselected {
            base "#b3bac6"
            background "#272c35"
            emphasis_0 "#b88473"
            emphasis_1 "#b4bac6"
            emphasis_2 "#a2869d"
            emphasis_3 "#887f93"
        }
        table_title {
            base "#879978"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        table_cell_selected {
            base "#b4bac6"
            background "#252a33"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        table_cell_unselected {
            base "#b3bac6"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        list_selected {
            base "#b4bac6"
            background "#252a33"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        list_unselected {
            base "#b3bac6"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        frame_selected {
            base "#73889e"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        frame_highlight {
            base "#b88473"
            background "#1f242d"
            emphasis_0 "#a2869d"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#887f93"
        }
        exit_code_success {
            base "#879978"
            background "#1f242d"
            emphasis_0 "#789796"
            emphasis_1 "#7097a3"
            emphasis_2 "#879978"
            emphasis_3 "#a2869d"
        }
        exit_code_error {
            base "#ac6e74"
            background "#1f242d"
            emphasis_0 "#b88473"
            emphasis_1 "#c3a870"
            emphasis_2 "#a2869d"
            emphasis_3 "#887f93"
        }
        multiplayer_user_colors {
            player_1 "#a2869d"
            player_2 "#73889e"
            player_3 "#879978"
            player_4 "#b88473"
            player_5 "#887f93"
            player_6 "#789796"
            player_7 "#7097a3"
            player_8 "#c3a870"
            player_9 "#ac6e74"
            player_10 "#677185"
        }
    }
}
