// Lvim Colorscheme BaseDarker
themes {
    lvim {
        text_unselected {
            base "#639696"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        text_selected {
            base "#55a6ab"
            background "#1e2427"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        ribbon_selected {
            base "#181e21"
            background "#7e965a"
            emphasis_0 "#d75e52"
            emphasis_1 "#e19556"
            emphasis_2 "#c6614d"
            emphasis_3 "#40719a"
        }
        ribbon_unselected {
            base "#639696"
            background "#202629"
            emphasis_0 "#e19556"
            emphasis_1 "#55a6ab"
            emphasis_2 "#de684e"
            emphasis_3 "#3392d2"
        }
        table_title {
            base "#7e965a"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#1e2427"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        table_cell_unselected {
            base "#639696"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        list_selected {
            base "#55a6ab"
            background "#1e2427"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        list_unselected {
            base "#639696"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        frame_selected {
            base "#3d95c9"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        frame_highlight {
            base "#e19556"
            background "#181e21"
            emphasis_0 "#de684e"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#3392d2"
        }
        exit_code_success {
            base "#7e965a"
            background "#181e21"
            emphasis_0 "#399c88"
            emphasis_1 "#4097aa"
            emphasis_2 "#7e965a"
            emphasis_3 "#de684e"
        }
        exit_code_error {
            base "#e1655a"
            background "#181e21"
            emphasis_0 "#e19556"
            emphasis_1 "#d8b36f"
            emphasis_2 "#de684e"
            emphasis_3 "#3392d2"
        }
        multiplayer_user_colors {
            player_1 "#c6614d"
            player_2 "#447ca2"
            player_3 "#7e965a"
            player_4 "#e19556"
            player_5 "#40719a"
            player_6 "#407e70"
            player_7 "#448595"
            player_8 "#d8b36f"
            player_9 "#d75e52"
            player_10 "#4d6263"
        }
    }
}
