// Lvim Colorscheme MaterialLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        ribbon_selected {
            base "#dadada"
            background "#6f864f"
            emphasis_0 "#b14b51"
            emphasis_1 "#c9745b"
            emphasis_2 "#b04556"
            emphasis_3 "#806594"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#c9745b"
            emphasis_1 "#55a6ab"
            emphasis_2 "#b04556"
            emphasis_3 "#806594"
        }
        table_title {
            base "#6f864f"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        frame_selected {
            base "#4d6cae"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        frame_highlight {
            base "#c9745b"
            background "#dadada"
            emphasis_0 "#b04556"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#806594"
        }
        exit_code_success {
            base "#6f864f"
            background "#dadada"
            emphasis_0 "#498776"
            emphasis_1 "#578ca5"
            emphasis_2 "#6f864f"
            emphasis_3 "#b04556"
        }
        exit_code_error {
            base "#b14b51"
            background "#dadada"
            emphasis_0 "#c9745b"
            emphasis_1 "#8e7347"
            emphasis_2 "#b04556"
            emphasis_3 "#806594"
        }
        multiplayer_user_colors {
            player_1 "#b04556"
            player_2 "#4d6cae"
            player_3 "#6f864f"
            player_4 "#c9745b"
            player_5 "#806594"
            player_6 "#498776"
            player_7 "#578ca5"
            player_8 "#8e7347"
            player_9 "#b14b51"
            player_10 "#798991"
        }
    }
}
