// Lvim Colorscheme NightfoxLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        ribbon_selected {
            base "#dadada"
            background "#749182"
            emphasis_0 "#a75d70"
            emphasis_1 "#ac7a53"
            emphasis_2 "#755a88"
            emphasis_3 "#8069a2"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#ac7a53"
            emphasis_1 "#55a6ab"
            emphasis_2 "#755a88"
            emphasis_3 "#8069a2"
        }
        table_title {
            base "#749182"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        frame_selected {
            base "#546d8e"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        frame_highlight {
            base "#ac7a53"
            background "#dadada"
            emphasis_0 "#755a88"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#8069a2"
        }
        exit_code_success {
            base "#749182"
            background "#dadada"
            emphasis_0 "#599181"
            emphasis_1 "#5b8e8f"
            emphasis_2 "#749182"
            emphasis_3 "#755a88"
        }
        exit_code_error {
            base "#a75d70"
            background "#dadada"
            emphasis_0 "#ac7a53"
            emphasis_1 "#897a50"
            emphasis_2 "#755a88"
            emphasis_3 "#8069a2"
        }
        multiplayer_user_colors {
            player_1 "#755a88"
            player_2 "#546d8e"
            player_3 "#749182"
            player_4 "#ac7a53"
            player_5 "#8069a2"
            player_6 "#599181"
            player_7 "#5b8e8f"
            player_8 "#897a50"
            player_9 "#a75d70"
            player_10 "#646f7d"
        }
    }
}
