// Lvim Colorscheme MaterialLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        ribbon_selected {
            base "#ffffff"
            background "#677b4c"
            emphasis_0 "#b14b51"
            emphasis_1 "#c9745b"
            emphasis_2 "#b04556"
            emphasis_3 "#806594"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#7e5348"
            emphasis_1 "#476567"
            emphasis_2 "#9c4250"
            emphasis_3 "#6a5779"
        }
        table_title {
            base "#556344"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        frame_selected {
            base "#485e90"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        frame_highlight {
            base "#7e5348"
            background "#dadada"
            emphasis_0 "#9c4250"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#6a5779"
        }
        exit_code_success {
            base "#556344"
            background "#dadada"
            emphasis_0 "#42655b"
            emphasis_1 "#496371"
            emphasis_2 "#556344"
            emphasis_3 "#9c4250"
        }
        exit_code_error {
            base "#99464a"
            background "#dadada"
            emphasis_0 "#7e5348"
            emphasis_1 "#6e5c41"
            emphasis_2 "#9c4250"
            emphasis_3 "#6a5779"
        }
        multiplayer_user_colors {
            player_1 "#b04556"
            player_2 "#4d6cae"
            player_3 "#6f864f"
            player_4 "#c9745b"
            player_5 "#806594"
            player_6 "#498776"
            player_7 "#578ca5"
            player_8 "#8e7347"
            player_9 "#b14b51"
            player_10 "#798991"
        }
    }
}
