// Lvim Colorscheme BaseLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        ribbon_selected {
            base "#ffffff"
            background "#55673c"
            emphasis_0 "#ae4b41"
            emphasis_1 "#aa703f"
            emphasis_2 "#af5543"
            emphasis_3 "#4d86b6"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#7c573d"
            emphasis_1 "#476567"
            emphasis_2 "#8f4b3f"
            emphasis_3 "#45617c"
        }
        table_title {
            base "#53643b"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        frame_selected {
            base "#41627b"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        frame_highlight {
            base "#7c573d"
            background "#dadada"
            emphasis_0 "#8f4b3f"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#45617c"
        }
        exit_code_success {
            base "#53643b"
            background "#dadada"
            emphasis_0 "#40675d"
            emphasis_1 "#3d646f"
            emphasis_2 "#53643b"
            emphasis_3 "#8f4b3f"
        }
        exit_code_error {
            base "#96453e"
            background "#dadada"
            emphasis_0 "#7c573d"
            emphasis_1 "#6c5b3e"
            emphasis_2 "#8f4b3f"
            emphasis_3 "#45617c"
        }
        multiplayer_user_colors {
            player_1 "#af5543"
            player_2 "#457da3"
            player_3 "#55673c"
            player_4 "#aa703f"
            player_5 "#4d86b6"
            player_6 "#458677"
            player_7 "#3e7a89"
            player_8 "#856e42"
            player_9 "#ae4b41"
            player_10 "#789698"
        }
    }
}
