// Lvim Colorscheme EverforestSoft
themes {
    lvim {
        text_unselected {
            base "#94a68e"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        text_selected {
            base "#96a791"
            background "#2e3439"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        ribbon_selected {
            base "#ffffff"
            background "#75783a"
            emphasis_0 "#cb4f4f"
            emphasis_1 "#cc7942"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        ribbon_unselected {
            base "#94a68e"
            background "#32393f"
            emphasis_0 "#f08838"
            emphasis_1 "#96a791"
            emphasis_2 "#e18b6d"
            emphasis_3 "#a69fb5"
        }
        table_title {
            base "#a2a712"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        table_cell_selected {
            base "#96a791"
            background "#2e3439"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        table_cell_unselected {
            base "#94a68e"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        list_selected {
            base "#96a791"
            background "#2e3439"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        list_unselected {
            base "#94a68e"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        frame_selected {
            base "#17afe2"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        frame_highlight {
            base "#f08838"
            background "#202527"
            emphasis_0 "#e18b6d"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#a69fb5"
        }
        exit_code_success {
            base "#a2a712"
            background "#202527"
            emphasis_0 "#00b59c"
            emphasis_1 "#62b36e"
            emphasis_2 "#a2a712"
            emphasis_3 "#e18b6d"
        }
        exit_code_error {
            base "#ec8484"
            background "#202527"
            emphasis_0 "#f08838"
            emphasis_1 "#b2a16c"
            emphasis_2 "#e18b6d"
            emphasis_3 "#a69fb5"
        }
        multiplayer_user_colors {
            player_1 "#bb755e"
            player_2 "#42728b"
            player_3 "#75783a"
            player_4 "#cc7942"
            player_5 "#635d71"
            player_6 "#357b6d"
            player_7 "#527a57"
            player_8 "#af9e6b"
            player_9 "#cb4f4f"
            player_10 "#535d4e"
        }
    }
}
