// Lvim Colorscheme KanagawaDarker
themes {
    lvim {
        text_unselected {
            base "#8585a4"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        text_selected {
            base "#8585a5"
            background "#1e1f25"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        ribbon_selected {
            base "#ffffff"
            background "#6a7c53"
            emphasis_0 "#ba5454"
            emphasis_1 "#bf8f62"
            emphasis_2 "#c4726c"
            emphasis_3 "#70658b"
        }
        ribbon_unselected {
            base "#8585a4"
            background "#202127"
            emphasis_0 "#bf8f62"
            emphasis_1 "#8585a5"
            emphasis_2 "#c4726c"
            emphasis_3 "#8f83ab"
        }
        table_title {
            base "#789059"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        table_cell_selected {
            base "#8585a5"
            background "#1e1f25"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        table_cell_unselected {
            base "#8585a4"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        list_selected {
            base "#8585a5"
            background "#1e1f25"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        list_unselected {
            base "#8585a4"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        frame_selected {
            base "#5588d7"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        frame_highlight {
            base "#bf8f62"
            background "#18191f"
            emphasis_0 "#c4726c"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#8f83ab"
        }
        exit_code_success {
            base "#789059"
            background "#18191f"
            emphasis_0 "#5691a8"
            emphasis_1 "#629189"
            emphasis_2 "#789059"
            emphasis_3 "#c4726c"
        }
        exit_code_error {
            base "#d66666"
            background "#18191f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#d1b57c"
            emphasis_2 "#c4726c"
            emphasis_3 "#8f83ab"
        }
        multiplayer_user_colors {
            player_1 "#c4726c"
            player_2 "#4e6a9c"
            player_3 "#6c7f54"
            player_4 "#bf8f62"
            player_5 "#70658b"
            player_6 "#538396"
            player_7 "#587a74"
            player_8 "#d1b57c"
            player_9 "#ba5454"
            player_10 "#4e4e73"
        }
    }
}
