// Lvim Colorscheme RosepineLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        ribbon_selected {
            base "#ffffff"
            background "#5d6c60"
            emphasis_0 "#8e656e"
            emphasis_1 "#a58382"
            emphasis_2 "#6d5f81"
            emphasis_3 "#7f7c88"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#6d5959"
            emphasis_1 "#476567"
            emphasis_2 "#655976"
            emphasis_3 "#615e69"
        }
        table_title {
            base "#556258"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        frame_selected {
            base "#566064"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        frame_highlight {
            base "#6d5959"
            background "#dadada"
            emphasis_0 "#655976"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#615e69"
        }
        exit_code_success {
            base "#556258"
            background "#dadada"
            emphasis_0 "#55625d"
            emphasis_1 "#566060"
            emphasis_2 "#556258"
            emphasis_3 "#655976"
        }
        exit_code_error {
            base "#75575d"
            background "#dadada"
            emphasis_0 "#6d5959"
            emphasis_1 "#695e54"
            emphasis_2 "#655976"
            emphasis_3 "#615e69"
        }
        multiplayer_user_colors {
            player_1 "#6d5f81"
            player_2 "#73878f"
            player_3 "#5d6c60"
            player_4 "#a58382"
            player_5 "#7f7c88"
            player_6 "#6f877e"
            player_7 "#606d6d"
            player_8 "#8c7b6a"
            player_9 "#8e656e"
            player_10 "#95718d"
        }
    }
}
