// Lvim Colorscheme GruvboxDark
themes {
    lvim {
        text_unselected {
            base "#9b8a79"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        text_selected {
            base "#968a7b"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        ribbon_selected {
            base "#ffffff"
            background "#757845"
            emphasis_0 "#ca4f4f"
            emphasis_1 "#c47d54"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        ribbon_unselected {
            base "#9b8a79"
            background "#262524"
            emphasis_0 "#c47d54"
            emphasis_1 "#968a7b"
            emphasis_2 "#c37960"
            emphasis_3 "#918aa2"
        }
        table_title {
            base "#8c9045"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        table_cell_selected {
            base "#968a7b"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        table_cell_unselected {
            base "#9b8a79"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        list_selected {
            base "#968a7b"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        list_unselected {
            base "#9b8a79"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        frame_selected {
            base "#4b95ba"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        frame_highlight {
            base "#c47d54"
            background "#1e1d1c"
            emphasis_0 "#c37960"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#918aa2"
        }
        exit_code_success {
            base "#8c9045"
            background "#1e1d1c"
            emphasis_0 "#419a88"
            emphasis_1 "#5d9a65"
            emphasis_2 "#8c9045"
            emphasis_3 "#c37960"
        }
        exit_code_error {
            base "#e16666"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#af9e6b"
            emphasis_2 "#c37960"
            emphasis_3 "#918aa2"
        }
        multiplayer_user_colors {
            player_1 "#bb755e"
            player_2 "#497188"
            player_3 "#757845"
            player_4 "#c47d54"
            player_5 "#635d71"
            player_6 "#43796d"
            player_7 "#527a57"
            player_8 "#af9e6b"
            player_9 "#ca4f4f"
            player_10 "#64584e"
        }
    }
}
