// Lvim Colorscheme MaterialDarker
themes {
    lvim {
        text_unselected {
            base "#b2c7c7"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        text_selected {
            base "#b8bec2"
            background "#242f34"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        ribbon_selected {
            base "#141a1d"
            background "#a6c974"
            emphasis_0 "#d1676c"
            emphasis_1 "#d77c61"
            emphasis_2 "#da596e"
            emphasis_3 "#9e86b0"
        }
        ribbon_unselected {
            base "#b2c7c7"
            background "#2b383e"
            emphasis_0 "#d77c61"
            emphasis_1 "#b8bec2"
            emphasis_2 "#da596e"
            emphasis_3 "#9e86b0"
        }
        table_title {
            base "#a6c974"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        table_cell_selected {
            base "#b8bec2"
            background "#242f34"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        table_cell_unselected {
            base "#b2c7c7"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        list_selected {
            base "#b8bec2"
            background "#242f34"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        list_unselected {
            base "#b2c7c7"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        frame_selected {
            base "#618adf"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        frame_highlight {
            base "#d77c61"
            background "#141a1d"
            emphasis_0 "#da596e"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#9e86b0"
        }
        exit_code_success {
            base "#a6c974"
            background "#141a1d"
            emphasis_0 "#5addbe"
            emphasis_1 "#63bbdf"
            emphasis_2 "#a6c974"
            emphasis_3 "#da596e"
        }
        exit_code_error {
            base "#d1676c"
            background "#141a1d"
            emphasis_0 "#d77c61"
            emphasis_1 "#deb05c"
            emphasis_2 "#da596e"
            emphasis_3 "#9e86b0"
        }
        multiplayer_user_colors {
            player_1 "#da596e"
            player_2 "#618adf"
            player_3 "#a6c974"
            player_4 "#d77c61"
            player_5 "#9e86b0"
            player_6 "#5addbe"
            player_7 "#63bbdf"
            player_8 "#deb05c"
            player_9 "#d1676c"
            player_10 "#5e6a70"
        }
    }
}
