// Lvim Colorscheme LvimLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        ribbon_selected {
            base "#dadada"
            background "#748c50"
            emphasis_0 "#ac4135"
            emphasis_1 "#a96400"
            emphasis_2 "#bc533c"
            emphasis_3 "#1981bd"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#a96400"
            emphasis_1 "#55a6ab"
            emphasis_2 "#bc533c"
            emphasis_3 "#1981bd"
        }
        table_title {
            base "#748c50"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        frame_selected {
            base "#0879a9"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        frame_highlight {
            base "#a96400"
            background "#dadada"
            emphasis_0 "#bc533c"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#1981bd"
        }
        exit_code_success {
            base "#748c50"
            background "#dadada"
            emphasis_0 "#228773"
            emphasis_1 "#01778a"
            emphasis_2 "#748c50"
            emphasis_3 "#bc533c"
        }
        exit_code_error {
            base "#ac4135"
            background "#dadada"
            emphasis_0 "#a96400"
            emphasis_1 "#7e652f"
            emphasis_2 "#bc533c"
            emphasis_3 "#1981bd"
        }
        multiplayer_user_colors {
            player_1 "#bc533c"
            player_2 "#0879a9"
            player_3 "#748c50"
            player_4 "#a96400"
            player_5 "#1981bd"
            player_6 "#228773"
            player_7 "#01778a"
            player_8 "#7e652f"
            player_9 "#ac4135"
            player_10 "#789698"
        }
    }
}
