// Lvim Colorscheme GruvboxLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        ribbon_selected {
            base "#ffffff"
            background "#777a48"
            emphasis_0 "#c74e4e"
            emphasis_1 "#875537"
            emphasis_2 "#915a47"
            emphasis_3 "#918c9d"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#835337"
            emphasis_1 "#476567"
            emphasis_2 "#815343"
            emphasis_3 "#615d6a"
        }
        table_title {
            base "#5f6141"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        frame_selected {
            base "#4a6372"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        frame_highlight {
            base "#835337"
            background "#dadada"
            emphasis_0 "#815343"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#615d6a"
        }
        exit_code_success {
            base "#5f6141"
            background "#dadada"
            emphasis_0 "#44655d"
            emphasis_1 "#4c664f"
            emphasis_2 "#5f6141"
            emphasis_3 "#815343"
        }
        exit_code_error {
            base "#954545"
            background "#dadada"
            emphasis_0 "#835337"
            emphasis_1 "#675e47"
            emphasis_2 "#815343"
            emphasis_3 "#615d6a"
        }
        multiplayer_user_colors {
            player_1 "#915a47"
            player_2 "#5988a3"
            player_3 "#7a7d48"
            player_4 "#875537"
            player_5 "#918c9d"
            player_6 "#4d8a7c"
            player_7 "#5c8861"
            player_8 "#8f8156"
            player_9 "#c74e4e"
            player_10 "#a59283"
        }
    }
}
