// Lvim Colorscheme SolarizedLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        ribbon_selected {
            base "#ffffff"
            background "#70793e"
            emphasis_0 "#ca5350"
            emphasis_1 "#ab6044"
            emphasis_2 "#b35181"
            emphasis_3 "#707293"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#85503f"
            emphasis_1 "#476567"
            emphasis_2 "#8e4869"
            emphasis_3 "#5a5c79"
        }
        table_title {
            base "#5b623b"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        frame_selected {
            base "#45617a"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        frame_highlight {
            base "#85503f"
            background "#dadada"
            emphasis_0 "#8e4869"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#5a5c79"
        }
        exit_code_success {
            base "#5b623b"
            background "#dadada"
            emphasis_0 "#406758"
            emphasis_1 "#416662"
            emphasis_2 "#5b623b"
            emphasis_3 "#8e4869"
        }
        exit_code_error {
            base "#944746"
            background "#dadada"
            emphasis_0 "#85503f"
            emphasis_1 "#6f5d35"
            emphasis_2 "#8e4869"
            emphasis_3 "#5a5c79"
        }
        multiplayer_user_colors {
            player_1 "#b35181"
            player_2 "#4c799d"
            player_3 "#727c3e"
            player_4 "#ab6044"
            player_5 "#707293"
            player_6 "#457e68"
            player_7 "#467c77"
            player_8 "#786435"
            player_9 "#ca5350"
            player_10 "#798890"
        }
    }
}
