// Lvim Colorscheme TokyonightLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        ribbon_selected {
            base "#dadada"
            background "#606f52"
            emphasis_0 "#ab5867"
            emphasis_1 "#b17f67"
            emphasis_2 "#765ba6"
            emphasis_3 "#8b7ea3"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#b17f67"
            emphasis_1 "#55a6ab"
            emphasis_2 "#765ba6"
            emphasis_3 "#8b7ea3"
        }
        table_title {
            base "#606f52"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        frame_selected {
            base "#6579ac"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        frame_highlight {
            base "#b17f67"
            background "#dadada"
            emphasis_0 "#765ba6"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#8b7ea3"
        }
        exit_code_success {
            base "#606f52"
            background "#dadada"
            emphasis_0 "#597d75"
            emphasis_1 "#587387"
            emphasis_2 "#606f52"
            emphasis_3 "#765ba6"
        }
        exit_code_error {
            base "#ab5867"
            background "#dadada"
            emphasis_0 "#b17f67"
            emphasis_1 "#927d61"
            emphasis_2 "#765ba6"
            emphasis_3 "#8b7ea3"
        }
        multiplayer_user_colors {
            player_1 "#765ba6"
            player_2 "#6579ac"
            player_3 "#606f52"
            player_4 "#b17f67"
            player_5 "#8b7ea3"
            player_6 "#597d75"
            player_7 "#587387"
            player_8 "#927d61"
            player_9 "#ab5867"
            player_10 "#8085a2"
        }
    }
}
