// Lvim Colorscheme NightfoxDark
themes {
    lvim {
        text_unselected {
            base "#bcbdbd"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        text_selected {
            base "#bcbcbd"
            background "#1b2532"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        ribbon_selected {
            base "#151f2c"
            background "#7b998a"
            emphasis_0 "#b26377"
            emphasis_1 "#c88e62"
            emphasis_2 "#9a80ae"
            emphasis_3 "#8670a7"
        }
        ribbon_unselected {
            base "#bcbdbd"
            background "#1d2734"
            emphasis_0 "#c88e62"
            emphasis_1 "#bcbcbd"
            emphasis_2 "#9d83b0"
            emphasis_3 "#9a85bc"
        }
        table_title {
            base "#7b998a"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        table_cell_selected {
            base "#bcbcbd"
            background "#1b2532"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        table_cell_unselected {
            base "#bcbdbd"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        list_selected {
            base "#bcbcbd"
            background "#1b2532"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        list_unselected {
            base "#bcbdbd"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        frame_selected {
            base "#6e90bd"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        frame_highlight {
            base "#c88e62"
            background "#151f2c"
            emphasis_0 "#9d83b0"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9a85bc"
        }
        exit_code_success {
            base "#7b998a"
            background "#151f2c"
            emphasis_0 "#66a492"
            emphasis_1 "#69a3a4"
            emphasis_2 "#7b998a"
            emphasis_3 "#9d83b0"
        }
        exit_code_error {
            base "#c77489"
            background "#151f2c"
            emphasis_0 "#c88e62"
            emphasis_1 "#bba76f"
            emphasis_2 "#9d83b0"
            emphasis_3 "#9a85bc"
        }
        multiplayer_user_colors {
            player_1 "#9a80ae"
            player_2 "#6885ad"
            player_3 "#7b998a"
            player_4 "#c88e62"
            player_5 "#8670a7"
            player_6 "#66a492"
            player_7 "#69a3a4"
            player_8 "#bba76f"
            player_9 "#b26377"
            player_10 "#758292"
        }
    }
}
