// Lvim Colorscheme DraculaDark
themes {
    lvim {
        text_unselected {
            base "#c7c7b3"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        text_selected {
            base "#c2c2b7"
            background "#262832"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        ribbon_selected {
            base "#20222c"
            background "#62966d"
            emphasis_0 "#bc6060"
            emphasis_1 "#b58f70"
            emphasis_2 "#bf6f9a"
            emphasis_3 "#796496"
        }
        ribbon_unselected {
            base "#c7c7b3"
            background "#282a34"
            emphasis_0 "#b58f70"
            emphasis_1 "#c2c2b7"
            emphasis_2 "#bf6f9a"
            emphasis_3 "#796496"
        }
        table_title {
            base "#62966d"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        table_cell_selected {
            base "#c2c2b7"
            background "#262832"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        table_cell_unselected {
            base "#c7c7b3"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        list_selected {
            base "#c2c2b7"
            background "#262832"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        list_unselected {
            base "#c7c7b3"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        frame_selected {
            base "#638993"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        frame_highlight {
            base "#b58f70"
            background "#20222c"
            emphasis_0 "#bf6f9a"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#796496"
        }
        exit_code_success {
            base "#62966d"
            background "#20222c"
            emphasis_0 "#638e82"
            emphasis_1 "#66938a"
            emphasis_2 "#62966d"
            emphasis_3 "#bf6f9a"
        }
        exit_code_error {
            base "#bc6060"
            background "#20222c"
            emphasis_0 "#b58f70"
            emphasis_1 "#adb27e"
            emphasis_2 "#bf6f9a"
            emphasis_3 "#796496"
        }
        multiplayer_user_colors {
            player_1 "#bf6f9a"
            player_2 "#638993"
            player_3 "#62966d"
            player_4 "#b58f70"
            player_5 "#796496"
            player_6 "#638e82"
            player_7 "#66938a"
            player_8 "#adb27e"
            player_9 "#bc6060"
            player_10 "#727a98"
        }
    }
}
