// Lvim Colorscheme MaterialDarker
themes {
    lvim {
        text_unselected {
            base "#b2c7c7"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        text_selected {
            base "#b8bec2"
            background "#1e272b"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        ribbon_selected {
            base "#182125"
            background "#90ad68"
            emphasis_0 "#d05e64"
            emphasis_1 "#d37a60"
            emphasis_2 "#d75d70"
            emphasis_3 "#8f74a3"
        }
        ribbon_unselected {
            base "#b2c7c7"
            background "#20292d"
            emphasis_0 "#d37a60"
            emphasis_1 "#b8bec2"
            emphasis_2 "#d75d70"
            emphasis_3 "#8f74a3"
        }
        table_title {
            base "#90ad68"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        table_cell_selected {
            base "#b8bec2"
            background "#1e272b"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        table_cell_unselected {
            base "#b2c7c7"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        list_selected {
            base "#b8bec2"
            background "#1e272b"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        list_unselected {
            base "#b2c7c7"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        frame_selected {
            base "#5b7fcb"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        frame_highlight {
            base "#d37a60"
            background "#182125"
            emphasis_0 "#d75d70"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#8f74a3"
        }
        exit_code_success {
            base "#90ad68"
            background "#182125"
            emphasis_0 "#65b7a1"
            emphasis_1 "#65a1bd"
            emphasis_2 "#90ad68"
            emphasis_3 "#d75d70"
        }
        exit_code_error {
            base "#d05e64"
            background "#182125"
            emphasis_0 "#d37a60"
            emphasis_1 "#cfa96a"
            emphasis_2 "#d75d70"
            emphasis_3 "#8f74a3"
        }
        multiplayer_user_colors {
            player_1 "#d75d70"
            player_2 "#5b7fcb"
            player_3 "#90ad68"
            player_4 "#d37a60"
            player_5 "#8f74a3"
            player_6 "#65b7a1"
            player_7 "#65a1bd"
            player_8 "#cfa96a"
            player_9 "#d05e64"
            player_10 "#5e6a70"
        }
    }
}
