// Lvim Colorscheme NordSoft
themes {
    lvim {
        text_unselected {
            base "#b3bac6"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        text_selected {
            base "#b4bac6"
            background "#2a2f3a"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        ribbon_selected {
            base "#242934"
            background "#879978"
            emphasis_0 "#ac6e74"
            emphasis_1 "#b88473"
            emphasis_2 "#a2869d"
            emphasis_3 "#887f93"
        }
        ribbon_unselected {
            base "#b3bac6"
            background "#2c313c"
            emphasis_0 "#c48b78"
            emphasis_1 "#b4bac6"
            emphasis_2 "#ac91a7"
            emphasis_3 "#9f97aa"
        }
        table_title {
            base "#8b9f7b"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        table_cell_selected {
            base "#b4bac6"
            background "#2a2f3a"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        table_cell_unselected {
            base "#b3bac6"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        list_selected {
            base "#b4bac6"
            background "#2a2f3a"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        list_unselected {
            base "#b3bac6"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        frame_selected {
            base "#809bb6"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        frame_highlight {
            base "#c48b78"
            background "#242934"
            emphasis_0 "#ac91a7"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#9f97aa"
        }
        exit_code_success {
            base "#8b9f7b"
            background "#242934"
            emphasis_0 "#7d9f9e"
            emphasis_1 "#74a0ad"
            emphasis_2 "#8b9f7b"
            emphasis_3 "#ac91a7"
        }
        exit_code_error {
            base "#c08b90"
            background "#242934"
            emphasis_0 "#c48b78"
            emphasis_1 "#c3a870"
            emphasis_2 "#ac91a7"
            emphasis_3 "#9f97aa"
        }
        multiplayer_user_colors {
            player_1 "#a2869d"
            player_2 "#73889e"
            player_3 "#879978"
            player_4 "#b88473"
            player_5 "#887f93"
            player_6 "#789796"
            player_7 "#7097a3"
            player_8 "#c3a870"
            player_9 "#ac6e74"
            player_10 "#677185"
        }
    }
}
