// Lvim Colorscheme DraculaSoft
themes {
    lvim {
        text_unselected {
            base "#c7c7b3"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        text_selected {
            base "#c2c2b7"
            background "#2b2d38"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        ribbon_selected {
            base "#252732"
            background "#649c70"
            emphasis_0 "#bc6060"
            emphasis_1 "#b58f70"
            emphasis_2 "#bf6f9a"
            emphasis_3 "#796496"
        }
        ribbon_unselected {
            base "#c7c7b3"
            background "#2d2f3a"
            emphasis_0 "#b58f70"
            emphasis_1 "#c2c2b7"
            emphasis_2 "#cb82a8"
            emphasis_3 "#a28dc0"
        }
        table_title {
            base "#67a574"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        table_cell_selected {
            base "#c2c2b7"
            background "#2b2d38"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        table_cell_unselected {
            base "#c7c7b3"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        list_selected {
            base "#c2c2b7"
            background "#2b2d38"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        list_unselected {
            base "#c7c7b3"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        frame_selected {
            base "#6ca0ad"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        frame_highlight {
            base "#b58f70"
            background "#252732"
            emphasis_0 "#cb82a8"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#a28dc0"
        }
        exit_code_success {
            base "#67a574"
            background "#252732"
            emphasis_0 "#6ba293"
            emphasis_1 "#6ca297"
            emphasis_2 "#67a574"
            emphasis_3 "#cb82a8"
        }
        exit_code_error {
            base "#d28282"
            background "#252732"
            emphasis_0 "#b58f70"
            emphasis_1 "#adb27e"
            emphasis_2 "#cb82a8"
            emphasis_3 "#a28dc0"
        }
        multiplayer_user_colors {
            player_1 "#bf6f9a"
            player_2 "#638993"
            player_3 "#62966d"
            player_4 "#b58f70"
            player_5 "#796496"
            player_6 "#638e82"
            player_7 "#66938a"
            player_8 "#adb27e"
            player_9 "#bc6060"
            player_10 "#727a98"
        }
    }
}
