// Lvim Colorscheme TokyonightLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        ribbon_selected {
            base "#ffffff"
            background "#606f52"
            emphasis_0 "#ab5867"
            emphasis_1 "#b17f67"
            emphasis_2 "#765ba6"
            emphasis_3 "#8b7ea3"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#745a4e"
            emphasis_1 "#476567"
            emphasis_2 "#6a5394"
            emphasis_3 "#645a77"
        }
        table_title {
            base "#56624b"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        frame_selected {
            base "#525e7e"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        frame_highlight {
            base "#745a4e"
            background "#dadada"
            emphasis_0 "#6a5394"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#645a77"
        }
        exit_code_success {
            base "#56624b"
            background "#dadada"
            emphasis_0 "#4b625d"
            emphasis_1 "#4e6170"
            emphasis_2 "#56624b"
            emphasis_3 "#6a5394"
        }
        exit_code_error {
            base "#884c56"
            background "#dadada"
            emphasis_0 "#745a4e"
            emphasis_1 "#6b5e4e"
            emphasis_2 "#6a5394"
            emphasis_3 "#645a77"
        }
        multiplayer_user_colors {
            player_1 "#765ba6"
            player_2 "#6579ac"
            player_3 "#606f52"
            player_4 "#b17f67"
            player_5 "#8b7ea3"
            player_6 "#597d75"
            player_7 "#587387"
            player_8 "#927d61"
            player_9 "#ab5867"
            player_10 "#8085a2"
        }
    }
}
