// Lvim Colorscheme DraculaLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        ribbon_selected {
            base "#ffffff"
            background "#466d4e"
            emphasis_0 "#af5959"
            emphasis_1 "#a38165"
            emphasis_2 "#905274"
            emphasis_3 "#8b79a6"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#476567"
            emphasis_2 "#844d6b"
            emphasis_3 "#66587a"
        }
        table_title {
            base "#44674b"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        frame_selected {
            base "#4b636a"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        frame_highlight {
            base "#6f5c4e"
            background "#dadada"
            emphasis_0 "#844d6b"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#66587a"
        }
        exit_code_success {
            base "#44674b"
            background "#dadada"
            emphasis_0 "#48655d"
            emphasis_1 "#47665f"
            emphasis_2 "#44674b"
            emphasis_3 "#844d6b"
        }
        exit_code_error {
            base "#8b4d4d"
            background "#dadada"
            emphasis_0 "#6f5c4e"
            emphasis_1 "#5f614a"
            emphasis_2 "#844d6b"
            emphasis_3 "#66587a"
        }
        multiplayer_user_colors {
            player_1 "#905274"
            player_2 "#517079"
            player_3 "#466d4e"
            player_4 "#a38165"
            player_5 "#8b79a6"
            player_6 "#4d7066"
            player_7 "#496b64"
            player_8 "#777b56"
            player_9 "#af5959"
            player_10 "#6b728f"
        }
    }
}
