// Lvim Colorscheme CatppuccinLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        ribbon_selected {
            base "#dadada"
            background "#557153"
            emphasis_0 "#a45a6d"
            emphasis_1 "#ac8068"
            emphasis_2 "#845377"
            emphasis_3 "#9078ad"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#ac8068"
            emphasis_1 "#55a6ab"
            emphasis_2 "#845377"
            emphasis_3 "#9078ad"
        }
        table_title {
            base "#557153"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        frame_selected {
            base "#6279a4"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        frame_highlight {
            base "#ac8068"
            background "#dadada"
            emphasis_0 "#845377"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#9078ad"
        }
        exit_code_success {
            base "#557153"
            background "#dadada"
            emphasis_0 "#55736e"
            emphasis_1 "#557278"
            emphasis_2 "#557153"
            emphasis_3 "#845377"
        }
        exit_code_error {
            base "#a45a6d"
            background "#dadada"
            emphasis_0 "#ac8068"
            emphasis_1 "#8a7b5e"
            emphasis_2 "#845377"
            emphasis_3 "#9078ad"
        }
        multiplayer_user_colors {
            player_1 "#845377"
            player_2 "#6279a4"
            player_3 "#557153"
            player_4 "#ac8068"
            player_5 "#9078ad"
            player_6 "#55736e"
            player_7 "#557278"
            player_8 "#8a7b5e"
            player_9 "#a45a6d"
            player_10 "#727897"
        }
    }
}
