// Lvim Colorscheme DraculaLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        ribbon_selected {
            base "#dadada"
            background "#466d4e"
            emphasis_0 "#af5959"
            emphasis_1 "#a38165"
            emphasis_2 "#905274"
            emphasis_3 "#8b79a6"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#a38165"
            emphasis_1 "#55a6ab"
            emphasis_2 "#905274"
            emphasis_3 "#8b79a6"
        }
        table_title {
            base "#466d4e"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        frame_selected {
            base "#517079"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        frame_highlight {
            base "#a38165"
            background "#dadada"
            emphasis_0 "#905274"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#8b79a6"
        }
        exit_code_success {
            base "#466d4e"
            background "#dadada"
            emphasis_0 "#4d7066"
            emphasis_1 "#496b64"
            emphasis_2 "#466d4e"
            emphasis_3 "#905274"
        }
        exit_code_error {
            base "#af5959"
            background "#dadada"
            emphasis_0 "#a38165"
            emphasis_1 "#777b56"
            emphasis_2 "#905274"
            emphasis_3 "#8b79a6"
        }
        multiplayer_user_colors {
            player_1 "#905274"
            player_2 "#517079"
            player_3 "#466d4e"
            player_4 "#a38165"
            player_5 "#8b79a6"
            player_6 "#4d7066"
            player_7 "#496b64"
            player_8 "#777b56"
            player_9 "#af5959"
            player_10 "#6b728f"
        }
    }
}
