// Lvim Colorscheme CatppuccinDark
themes {
    lvim {
        text_unselected {
            base "#b2b7c7"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        text_selected {
            base "#b2b7c7"
            background "#1f2029"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        ribbon_selected {
            base "#191a23"
            background "#6b8d69"
            emphasis_0 "#b7657a"
            emphasis_1 "#b88970"
            emphasis_2 "#b976a7"
            emphasis_3 "#7c609b"
        }
        ribbon_unselected {
            base "#b2b7c7"
            background "#21222b"
            emphasis_0 "#b88970"
            emphasis_1 "#b2b7c7"
            emphasis_2 "#b976a7"
            emphasis_3 "#7c609b"
        }
        table_title {
            base "#6b8d69"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        table_cell_selected {
            base "#b2b7c7"
            background "#1f2029"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        table_cell_unselected {
            base "#b2b7c7"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        list_selected {
            base "#b2b7c7"
            background "#1f2029"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        list_unselected {
            base "#b2b7c7"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        frame_selected {
            base "#6076a0"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        frame_highlight {
            base "#b88970"
            background "#191a23"
            emphasis_0 "#b976a7"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#7c609b"
        }
        exit_code_success {
            base "#6b8d69"
            background "#191a23"
            emphasis_0 "#658882"
            emphasis_1 "#65878e"
            emphasis_2 "#6b8d69"
            emphasis_3 "#b976a7"
        }
        exit_code_error {
            base "#b7657a"
            background "#191a23"
            emphasis_0 "#b88970"
            emphasis_1 "#b8a47e"
            emphasis_2 "#b976a7"
            emphasis_3 "#7c609b"
        }
        multiplayer_user_colors {
            player_1 "#b976a7"
            player_2 "#6076a0"
            player_3 "#6b8d69"
            player_4 "#b88970"
            player_5 "#7c609b"
            player_6 "#658882"
            player_7 "#65878e"
            player_8 "#b8a47e"
            player_9 "#b7657a"
            player_10 "#6c7393"
        }
    }
}
