// Lvim Colorscheme NordLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        ribbon_selected {
            base "#ffffff"
            background "#6d7962"
            emphasis_0 "#976065"
            emphasis_1 "#7a564b"
            emphasis_2 "#6e5a6b"
            emphasis_3 "#71687d"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#7a564b"
            emphasis_1 "#476567"
            emphasis_2 "#6e5a6b"
            emphasis_3 "#645d6d"
        }
        table_title {
            base "#596252"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        frame_selected {
            base "#52606f"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        frame_highlight {
            base "#7a564b"
            background "#dadada"
            emphasis_0 "#6e5a6b"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#645d6d"
        }
        exit_code_success {
            base "#596252"
            background "#dadada"
            emphasis_0 "#536160"
            emphasis_1 "#506167"
            emphasis_2 "#596252"
            emphasis_3 "#6e5a6b"
        }
        exit_code_error {
            base "#7c5357"
            background "#dadada"
            emphasis_0 "#7a564b"
            emphasis_1 "#6a5d44"
            emphasis_2 "#6e5a6b"
            emphasis_3 "#645d6d"
        }
        multiplayer_user_colors {
            player_1 "#6e5a6b"
            player_2 "#596a7c"
            player_3 "#7e8f70"
            player_4 "#7a564b"
            player_5 "#71687d"
            player_6 "#739190"
            player_7 "#6c919d"
            player_8 "#8b774e"
            player_9 "#976065"
            player_10 "#737d95"
        }
    }
}
