// Lvim Colorscheme KanagawaLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        ribbon_selected {
            base "#ffffff"
            background "#697b51"
            emphasis_0 "#c35959"
            emphasis_1 "#a87e56"
            emphasis_2 "#94544f"
            emphasis_3 "#887fa0"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#715a47"
            emphasis_1 "#476567"
            emphasis_2 "#874f4b"
            emphasis_3 "#625a76"
        }
        table_title {
            base "#576347"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        frame_selected {
            base "#4f5f81"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        frame_highlight {
            base "#715a47"
            background "#dadada"
            emphasis_0 "#874f4b"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#625a76"
        }
        exit_code_success {
            base "#576347"
            background "#dadada"
            emphasis_0 "#44626f"
            emphasis_1 "#4e6460"
            emphasis_2 "#576347"
            emphasis_3 "#874f4b"
        }
        exit_code_error {
            base "#904b4b"
            background "#dadada"
            emphasis_0 "#715a47"
            emphasis_1 "#6c5e44"
            emphasis_2 "#874f4b"
            emphasis_3 "#625a76"
        }
        multiplayer_user_colors {
            player_1 "#94544f"
            player_2 "#6385c2"
            player_3 "#697b51"
            player_4 "#a87e56"
            player_5 "#887fa0"
            player_6 "#4b7889"
            player_7 "#5e827b"
            player_8 "#816f4a"
            player_9 "#c35959"
            player_10 "#9d9db5"
        }
    }
}
