// Lvim Colorscheme NordSoft
themes {
    lvim {
        text_unselected {
            base "#b3bac6"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        text_selected {
            base "#b4bac6"
            background "#303643"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        ribbon_selected {
            base "#1f232c"
            background "#97ab86"
            emphasis_0 "#af7177"
            emphasis_1 "#ba8574"
            emphasis_2 "#a58aa0"
            emphasis_3 "#9b93a4"
        }
        ribbon_unselected {
            base "#b3bac6"
            background "#373e4d"
            emphasis_0 "#ba8574"
            emphasis_1 "#b4bac6"
            emphasis_2 "#a58aa0"
            emphasis_3 "#9b93a4"
        }
        table_title {
            base "#97ab86"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        table_cell_selected {
            base "#b4bac6"
            background "#303643"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        table_cell_unselected {
            base "#b3bac6"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        list_selected {
            base "#b4bac6"
            background "#303643"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        list_unselected {
            base "#b3bac6"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        frame_selected {
            base "#8097af"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        frame_highlight {
            base "#ba8574"
            background "#1f232c"
            emphasis_0 "#a58aa0"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#9b93a4"
        }
        exit_code_success {
            base "#97ab86"
            background "#1f232c"
            emphasis_0 "#88aaa9"
            emphasis_1 "#7eaab7"
            emphasis_2 "#97ab86"
            emphasis_3 "#a58aa0"
        }
        exit_code_error {
            base "#af7177"
            background "#1f232c"
            emphasis_0 "#ba8574"
            emphasis_1 "#cbae72"
            emphasis_2 "#a58aa0"
            emphasis_3 "#9b93a4"
        }
        multiplayer_user_colors {
            player_1 "#a58aa0"
            player_2 "#8097af"
            player_3 "#97ab86"
            player_4 "#ba8574"
            player_5 "#9b93a4"
            player_6 "#88aaa9"
            player_7 "#7eaab7"
            player_8 "#cbae72"
            player_9 "#af7177"
            player_10 "#677185"
        }
    }
}
