// Lvim Colorscheme SolarizedSoft
themes {
    lvim {
        text_unselected {
            base "#9da4a4"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        text_selected {
            base "#969e9e"
            background "#023643"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        ribbon_selected {
            base "#00303d"
            background "#727c3e"
            emphasis_0 "#c24f4d"
            emphasis_1 "#b46548"
            emphasis_2 "#c0578a"
            emphasis_3 "#757797"
        }
        ribbon_unselected {
            base "#9da4a4"
            background "#043845"
            emphasis_0 "#b46548"
            emphasis_1 "#969e9e"
            emphasis_2 "#c0578a"
            emphasis_3 "#757797"
        }
        table_title {
            base "#727c3e"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        table_cell_selected {
            base "#969e9e"
            background "#023643"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        table_cell_unselected {
            base "#9da4a4"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        list_selected {
            base "#969e9e"
            background "#023643"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        list_unselected {
            base "#9da4a4"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        frame_selected {
            base "#4f7ea3"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        frame_highlight {
            base "#b46548"
            background "#00303d"
            emphasis_0 "#c0578a"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#757797"
        }
        exit_code_success {
            base "#727c3e"
            background "#00303d"
            emphasis_0 "#49866e"
            emphasis_1 "#4b8580"
            emphasis_2 "#727c3e"
            emphasis_3 "#c0578a"
        }
        exit_code_error {
            base "#c24f4d"
            background "#00303d"
            emphasis_0 "#b46548"
            emphasis_1 "#9f8549"
            emphasis_2 "#c0578a"
            emphasis_3 "#757797"
        }
        multiplayer_user_colors {
            player_1 "#c0578a"
            player_2 "#4f7ea3"
            player_3 "#727c3e"
            player_4 "#b46548"
            player_5 "#757797"
            player_6 "#49866e"
            player_7 "#4b8580"
            player_8 "#9f8549"
            player_9 "#c24f4d"
            player_10 "#5d6a6f"
        }
    }
}
