// Lvim Colorscheme KanagawaSoft
themes {
    lvim {
        text_unselected {
            base "#9090ae"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        text_selected {
            base "#8f8faf"
            background "#28292f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        ribbon_selected {
            base "#ffffff"
            background "#6a7c53"
            emphasis_0 "#ba5454"
            emphasis_1 "#bf8f62"
            emphasis_2 "#c4726c"
            emphasis_3 "#70658b"
        }
        ribbon_unselected {
            base "#9090ae"
            background "#2a2b31"
            emphasis_0 "#bf8f62"
            emphasis_1 "#8f8faf"
            emphasis_2 "#ca7f7a"
            emphasis_3 "#998eb5"
        }
        table_title {
            base "#809b5c"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        table_cell_selected {
            base "#8f8faf"
            background "#28292f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        table_cell_unselected {
            base "#9090ae"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        list_selected {
            base "#8f8faf"
            background "#28292f"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        list_unselected {
            base "#9090ae"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        frame_selected {
            base "#5f93e5"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        frame_highlight {
            base "#bf8f62"
            background "#222329"
            emphasis_0 "#ca7f7a"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#998eb5"
        }
        exit_code_success {
            base "#809b5c"
            background "#222329"
            emphasis_0 "#569db6"
            emphasis_1 "#669c93"
            emphasis_2 "#809b5c"
            emphasis_3 "#ca7f7a"
        }
        exit_code_error {
            base "#dc7474"
            background "#222329"
            emphasis_0 "#bf8f62"
            emphasis_1 "#d1b57c"
            emphasis_2 "#ca7f7a"
            emphasis_3 "#998eb5"
        }
        multiplayer_user_colors {
            player_1 "#c4726c"
            player_2 "#4e6a9c"
            player_3 "#6c7f54"
            player_4 "#bf8f62"
            player_5 "#70658b"
            player_6 "#538396"
            player_7 "#587a74"
            player_8 "#d1b57c"
            player_9 "#ba5454"
            player_10 "#4e4e73"
        }
    }
}
