// Lvim Colorscheme KanagawaLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        ribbon_selected {
            base "#dadada"
            background "#697b51"
            emphasis_0 "#c35959"
            emphasis_1 "#a87e56"
            emphasis_2 "#94544f"
            emphasis_3 "#887fa0"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#a87e56"
            emphasis_1 "#55a6ab"
            emphasis_2 "#94544f"
            emphasis_3 "#887fa0"
        }
        table_title {
            base "#697b51"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        frame_selected {
            base "#6385c2"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        frame_highlight {
            base "#a87e56"
            background "#dadada"
            emphasis_0 "#94544f"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#887fa0"
        }
        exit_code_success {
            base "#697b51"
            background "#dadada"
            emphasis_0 "#4b7889"
            emphasis_1 "#5e827b"
            emphasis_2 "#697b51"
            emphasis_3 "#94544f"
        }
        exit_code_error {
            base "#c35959"
            background "#dadada"
            emphasis_0 "#a87e56"
            emphasis_1 "#816f4a"
            emphasis_2 "#94544f"
            emphasis_3 "#887fa0"
        }
        multiplayer_user_colors {
            player_1 "#94544f"
            player_2 "#6385c2"
            player_3 "#697b51"
            player_4 "#a87e56"
            player_5 "#887fa0"
            player_6 "#4b7889"
            player_7 "#5e827b"
            player_8 "#816f4a"
            player_9 "#c35959"
            player_10 "#9d9db5"
        }
    }
}
