// Lvim Colorscheme CatppuccinLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        ribbon_selected {
            base "#ffffff"
            background "#557153"
            emphasis_0 "#a45a6d"
            emphasis_1 "#ac8068"
            emphasis_2 "#845377"
            emphasis_3 "#9078ad"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#715a4f"
            emphasis_1 "#476567"
            emphasis_2 "#7c5070"
            emphasis_3 "#69587f"
        }
        table_title {
            base "#4d634c"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        frame_selected {
            base "#52607d"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        frame_highlight {
            base "#715a4f"
            background "#dadada"
            emphasis_0 "#7c5070"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#69587f"
        }
        exit_code_success {
            base "#4d634c"
            background "#dadada"
            emphasis_0 "#4c635f"
            emphasis_1 "#4c6267"
            emphasis_2 "#4d634c"
            emphasis_3 "#7c5070"
        }
        exit_code_error {
            base "#864f5d"
            background "#dadada"
            emphasis_0 "#715a4f"
            emphasis_1 "#675e4d"
            emphasis_2 "#7c5070"
            emphasis_3 "#69587f"
        }
        multiplayer_user_colors {
            player_1 "#845377"
            player_2 "#6279a4"
            player_3 "#557153"
            player_4 "#ac8068"
            player_5 "#9078ad"
            player_6 "#55736e"
            player_7 "#557278"
            player_8 "#8a7b5e"
            player_9 "#a45a6d"
            player_10 "#727897"
        }
    }
}
