// Lvim Colorscheme TokyonightDark
themes {
    lvim {
        text_unselected {
            base "#b2b6c7"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        text_selected {
            base "#b5b9ca"
            background "#1f222a"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        ribbon_selected {
            base "#191c24"
            background "#788a67"
            emphasis_0 "#bb6171"
            emphasis_1 "#bb866d"
            emphasis_2 "#907bba"
            emphasis_3 "#73638e"
        }
        ribbon_unselected {
            base "#b2b6c7"
            background "#21242c"
            emphasis_0 "#bb866d"
            emphasis_1 "#b5b9ca"
            emphasis_2 "#9580bf"
            emphasis_3 "#9484b1"
        }
        table_title {
            base "#7e926b"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        table_cell_selected {
            base "#b5b9ca"
            background "#1f222a"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        table_cell_unselected {
            base "#b2b6c7"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        list_selected {
            base "#b5b9ca"
            background "#1f222a"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        list_unselected {
            base "#b2b6c7"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        frame_selected {
            base "#728ac6"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        frame_highlight {
            base "#bb866d"
            background "#191c24"
            emphasis_0 "#9580bf"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9484b1"
        }
        exit_code_success {
            base "#7e926b"
            background "#191c24"
            emphasis_0 "#63968a"
            emphasis_1 "#6b90ab"
            emphasis_2 "#7e926b"
            emphasis_3 "#9580bf"
        }
        exit_code_error {
            base "#cb7181"
            background "#191c24"
            emphasis_0 "#bb866d"
            emphasis_1 "#b79d7b"
            emphasis_2 "#9580bf"
            emphasis_3 "#9484b1"
        }
        multiplayer_user_colors {
            player_1 "#907bba"
            player_2 "#6073a4"
            player_3 "#788a67"
            player_4 "#bb866d"
            player_5 "#73638e"
            player_6 "#5a7f76"
            player_7 "#648299"
            player_8 "#b79d7b"
            player_9 "#bb6171"
            player_10 "#616784"
        }
    }
}
