// Lvim Colorscheme SolarizedLight
themes {
    lvim {
        text_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        text_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        ribbon_selected {
            base "#dadada"
            background "#727c3e"
            emphasis_0 "#ca5350"
            emphasis_1 "#ab6044"
            emphasis_2 "#b35181"
            emphasis_3 "#707293"
        }
        ribbon_unselected {
            base "#5e8888"
            background "#eeeeee"
            emphasis_0 "#ab6044"
            emphasis_1 "#55a6ab"
            emphasis_2 "#b35181"
            emphasis_3 "#707293"
        }
        table_title {
            base "#727c3e"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        table_cell_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        table_cell_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        list_selected {
            base "#55a6ab"
            background "#e9e9e9"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        list_unselected {
            base "#5e8888"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        frame_selected {
            base "#4c799d"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        frame_highlight {
            base "#ab6044"
            background "#dadada"
            emphasis_0 "#b35181"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#707293"
        }
        exit_code_success {
            base "#727c3e"
            background "#dadada"
            emphasis_0 "#457e68"
            emphasis_1 "#467c77"
            emphasis_2 "#727c3e"
            emphasis_3 "#b35181"
        }
        exit_code_error {
            base "#ca5350"
            background "#dadada"
            emphasis_0 "#ab6044"
            emphasis_1 "#786435"
            emphasis_2 "#b35181"
            emphasis_3 "#707293"
        }
        multiplayer_user_colors {
            player_1 "#b35181"
            player_2 "#4c799d"
            player_3 "#727c3e"
            player_4 "#ab6044"
            player_5 "#707293"
            player_6 "#457e68"
            player_7 "#467c77"
            player_8 "#786435"
            player_9 "#ca5350"
            player_10 "#798890"
        }
    }
}
