// Lvim Colorscheme RosepineDark
themes {
    lvim {
        text_unselected {
            base "#b3afb2"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        text_selected {
            base "#b9b4b5"
            background "#1f1d21"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        ribbon_selected {
            base "#19171b"
            background "#788b7c"
            emphasis_0 "#a0727c"
            emphasis_1 "#a98a89"
            emphasis_2 "#9084a2"
            emphasis_3 "#726f7c"
        }
        ribbon_unselected {
            base "#b3afb2"
            background "#211f23"
            emphasis_0 "#a98a89"
            emphasis_1 "#b9b4b5"
            emphasis_2 "#9084a2"
            emphasis_3 "#898693"
        }
        table_title {
            base "#788b7c"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        table_cell_selected {
            base "#b9b4b5"
            background "#1f1d21"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        table_cell_unselected {
            base "#b3afb2"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        list_selected {
            base "#b9b4b5"
            background "#1f1d21"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        list_unselected {
            base "#b3afb2"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        frame_selected {
            base "#738d98"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        frame_highlight {
            base "#a98a89"
            background "#19171b"
            emphasis_0 "#9084a2"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#898693"
        }
        exit_code_success {
            base "#788b7c"
            background "#19171b"
            emphasis_0 "#708f84"
            emphasis_1 "#7a8a8a"
            emphasis_2 "#788b7c"
            emphasis_3 "#9084a2"
        }
        exit_code_error {
            base "#ab7c86"
            background "#19171b"
            emphasis_0 "#a98a89"
            emphasis_1 "#b6a18b"
            emphasis_2 "#9084a2"
            emphasis_3 "#898693"
        }
        multiplayer_user_colors {
            player_1 "#9084a2"
            player_2 "#5d6d74"
            player_3 "#788b7c"
            player_4 "#a98a89"
            player_5 "#726f7c"
            player_6 "#5d716a"
            player_7 "#788787"
            player_8 "#b6a18b"
            player_9 "#a0727c"
            player_10 "#896882"
        }
    }
}
