// Lvim Colorscheme NightfoxLight
themes {
    lvim {
        text_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        text_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        ribbon_selected {
            base "#ffffff"
            background "#657b70"
            emphasis_0 "#a75d70"
            emphasis_1 "#ac7a53"
            emphasis_2 "#755a88"
            emphasis_3 "#8069a2"
        }
        ribbon_unselected {
            base "#4c6262"
            background "#eeeeee"
            emphasis_0 "#765946"
            emphasis_1 "#476567"
            emphasis_2 "#6f5680"
            emphasis_3 "#675681"
        }
        table_title {
            base "#55635c"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        table_cell_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        table_cell_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        list_selected {
            base "#476567"
            background "#e9e9e9"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        list_unselected {
            base "#4c6262"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        frame_selected {
            base "#4d607b"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        frame_highlight {
            base "#765946"
            background "#dadada"
            emphasis_0 "#6f5680"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#675681"
        }
        exit_code_success {
            base "#55635c"
            background "#dadada"
            emphasis_0 "#48645c"
            emphasis_1 "#496262"
            emphasis_2 "#55635c"
            emphasis_3 "#6f5680"
        }
        exit_code_error {
            base "#85505d"
            background "#dadada"
            emphasis_0 "#765946"
            emphasis_1 "#695f46"
            emphasis_2 "#6f5680"
            emphasis_3 "#675681"
        }
        multiplayer_user_colors {
            player_1 "#755a88"
            player_2 "#546d8e"
            player_3 "#749182"
            player_4 "#ac7a53"
            player_5 "#8069a2"
            player_6 "#599181"
            player_7 "#5b8e8f"
            player_8 "#897a50"
            player_9 "#a75d70"
            player_10 "#646f7d"
        }
    }
}
