// Lvim Colorscheme RosepineSoft
themes {
    lvim {
        text_unselected {
            base "#b3afb2"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        text_selected {
            base "#b9b4b5"
            background "#252328"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        ribbon_selected {
            base "#1f1d22"
            background "#788b7c"
            emphasis_0 "#a0727c"
            emphasis_1 "#a98a89"
            emphasis_2 "#9084a2"
            emphasis_3 "#726f7c"
        }
        ribbon_unselected {
            base "#b3afb2"
            background "#27252a"
            emphasis_0 "#a98a89"
            emphasis_1 "#b9b4b5"
            emphasis_2 "#9387a5"
            emphasis_3 "#8e8b98"
        }
        table_title {
            base "#7e9383"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        table_cell_selected {
            base "#b9b4b5"
            background "#252328"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        table_cell_unselected {
            base "#b3afb2"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        list_selected {
            base "#b9b4b5"
            background "#252328"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        list_unselected {
            base "#b3afb2"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        frame_selected {
            base "#76929e"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        frame_highlight {
            base "#a98a89"
            background "#1f1d22"
            emphasis_0 "#9387a5"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#8e8b98"
        }
        exit_code_success {
            base "#7e9383"
            background "#1f1d22"
            emphasis_0 "#739589"
            emphasis_1 "#809292"
            emphasis_2 "#7e9383"
            emphasis_3 "#9387a5"
        }
        exit_code_error {
            base "#af828b"
            background "#1f1d22"
            emphasis_0 "#a98a89"
            emphasis_1 "#b6a18b"
            emphasis_2 "#9387a5"
            emphasis_3 "#8e8b98"
        }
        multiplayer_user_colors {
            player_1 "#9084a2"
            player_2 "#5d6d74"
            player_3 "#788b7c"
            player_4 "#a98a89"
            player_5 "#726f7c"
            player_6 "#5d716a"
            player_7 "#788787"
            player_8 "#b6a18b"
            player_9 "#a0727c"
            player_10 "#896882"
        }
    }
}
