// Lvim Colorscheme GruvboxDark
themes {
    lvim {
        text_unselected {
            base "#645c54"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        text_selected {
            base "#746c63"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        ribbon_selected {
            base "#1e1d1c"
            background "#757845"
            emphasis_0 "#ca4f4f"
            emphasis_1 "#c47d54"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        ribbon_unselected {
            base "#645c54"
            background "#262524"
            emphasis_0 "#c47d54"
            emphasis_1 "#746c63"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        table_title {
            base "#757845"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        table_cell_selected {
            base "#746c63"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        table_cell_unselected {
            base "#645c54"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        list_selected {
            base "#746c63"
            background "#242322"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        list_unselected {
            base "#645c54"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        frame_selected {
            base "#497188"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        frame_highlight {
            base "#c47d54"
            background "#1e1d1c"
            emphasis_0 "#bb755e"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#635d71"
        }
        exit_code_success {
            base "#757845"
            background "#1e1d1c"
            emphasis_0 "#43796d"
            emphasis_1 "#527a57"
            emphasis_2 "#757845"
            emphasis_3 "#bb755e"
        }
        exit_code_error {
            base "#ca4f4f"
            background "#1e1d1c"
            emphasis_0 "#c47d54"
            emphasis_1 "#af9e6b"
            emphasis_2 "#bb755e"
            emphasis_3 "#635d71"
        }
        multiplayer_user_colors {
            player_1 "#bb755e"
            player_2 "#497188"
            player_3 "#757845"
            player_4 "#c47d54"
            player_5 "#635d71"
            player_6 "#43796d"
            player_7 "#527a57"
            player_8 "#af9e6b"
            player_9 "#ca4f4f"
            player_10 "#64584e"
        }
    }
}
