// Lvim Colorscheme EverforestSoft
(
    selected_tab: Some("#379ac3"),
    command_fg: Some("#82907e"),
    selection_bg: Some("#2e3439"),
    selection_fg: Some("#8f9f8b"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#202527"),
    cmdbar_extra_lines_bg: Some("#202527"),
    disabled_fg: Some("#809873"),
    diff_line_add: Some("#92962d"),
    diff_line_delete: Some("#e36a6a"),
    diff_file_added: Some("#92962d"),
    diff_file_removed: Some("#e36a6a"),
    diff_file_moved: Some("#938ca4"),
    diff_file_modified: Some("#d07b41"),
    commit_hash: Some("#938ca4"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#0ba38d"),
    danger_fg: Some("#e36a6a"),
    push_gauge_bg: Some("#32393f"),
    push_gauge_fg: Some("#75783a"),
    tag_fg: Some("#d07b41"),
    branch_fg: Some("#cc7d62"),
    block_title_focused: Some("#379ac3"),
)
