// Lvim Colorscheme KanagawaDarker
(
    selected_tab: Some("#5583cd"),
    command_fg: Some("#80809f"),
    selection_bg: Some("#1e1f25"),
    selection_fg: Some("#8585a5"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#18191f"),
    cmdbar_extra_lines_bg: Some("#18191f"),
    disabled_fg: Some("#8181b2"),
    diff_line_add: Some("#748a58"),
    diff_line_delete: Some("#d35f5f"),
    diff_file_added: Some("#748a58"),
    diff_file_removed: Some("#d35f5f"),
    diff_file_moved: Some("#897ea6"),
    diff_file_modified: Some("#bf8f62"),
    commit_hash: Some("#897ea6"),
    commit_time: Some("#d1b57c"),
    commit_author: Some("#558ba1"),
    danger_fg: Some("#d35f5f"),
    push_gauge_bg: Some("#202127"),
    push_gauge_fg: Some("#6c7f54"),
    tag_fg: Some("#bf8f62"),
    branch_fg: Some("#c4726c"),
    block_title_focused: Some("#5583cd"),
)
