// Lvim Colorscheme MaterialDark
(
    selected_tab: Some("#618adf"),
    command_fg: Some("#b2c7c7"),
    selection_bg: Some("#2a373d"),
    selection_fg: Some("#b8bec2"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1a2226"),
    cmdbar_extra_lines_bg: Some("#1a2226"),
    disabled_fg: Some("#5e6a70"),
    diff_line_add: Some("#a6c974"),
    diff_line_delete: Some("#d1676c"),
    diff_file_added: Some("#a6c974"),
    diff_file_removed: Some("#d1676c"),
    diff_file_moved: Some("#9e86b0"),
    diff_file_modified: Some("#d77c61"),
    commit_hash: Some("#9e86b0"),
    commit_time: Some("#deb05c"),
    commit_author: Some("#5addbe"),
    danger_fg: Some("#d1676c"),
    push_gauge_bg: Some("#314047"),
    push_gauge_fg: Some("#a6c974"),
    tag_fg: Some("#d77c61"),
    branch_fg: Some("#da596e"),
    block_title_focused: Some("#618adf"),
)
