// Lvim Colorscheme TokyonightSoft
(
    selected_tab: Some("#728ac6"),
    command_fg: Some("#b2b6c7"),
    selection_bg: Some("#242730"),
    selection_fg: Some("#b5b9ca"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1e212a"),
    cmdbar_extra_lines_bg: Some("#1e212a"),
    disabled_fg: Some("#8088ac"),
    diff_line_add: Some("#7c906a"),
    diff_line_delete: Some("#ca6e7e"),
    diff_file_added: Some("#7c906a"),
    diff_file_removed: Some("#ca6e7e"),
    diff_file_moved: Some("#9484b1"),
    diff_file_modified: Some("#bb866d"),
    commit_hash: Some("#9484b1"),
    commit_time: Some("#b79d7b"),
    commit_author: Some("#629387"),
    danger_fg: Some("#ca6e7e"),
    push_gauge_bg: Some("#262932"),
    push_gauge_fg: Some("#788a67"),
    tag_fg: Some("#bb866d"),
    branch_fg: Some("#9580bf"),
    block_title_focused: Some("#728ac6"),
)
