// Lvim Colorscheme RosepineDark
(
    selected_tab: Some("#5d6d74"),
    command_fg: Some("#b3afb2"),
    selection_bg: Some("#1f1d21"),
    selection_fg: Some("#b9b4b5"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#19171b"),
    cmdbar_extra_lines_bg: Some("#19171b"),
    disabled_fg: Some("#896882"),
    diff_line_add: Some("#788b7c"),
    diff_line_delete: Some("#a0727c"),
    diff_file_added: Some("#788b7c"),
    diff_file_removed: Some("#a0727c"),
    diff_file_moved: Some("#726f7c"),
    diff_file_modified: Some("#a98a89"),
    commit_hash: Some("#726f7c"),
    commit_time: Some("#b6a18b"),
    commit_author: Some("#5d716a"),
    danger_fg: Some("#a0727c"),
    push_gauge_bg: Some("#211f23"),
    push_gauge_fg: Some("#788b7c"),
    tag_fg: Some("#a98a89"),
    branch_fg: Some("#9084a2"),
    block_title_focused: Some("#5d6d74"),
)
