// Lvim Colorscheme GruvboxSoft
(
    selected_tab: Some("#4b95ba"),
    command_fg: Some("#988877"),
    selection_bg: Some("#2a2928"),
    selection_fg: Some("#9c8f80"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#242322"),
    cmdbar_extra_lines_bg: Some("#242322"),
    disabled_fg: Some("#a18770"),
    diff_line_add: Some("#8c9045"),
    diff_line_delete: Some("#e16666"),
    diff_file_added: Some("#8c9045"),
    diff_file_removed: Some("#e16666"),
    diff_file_moved: Some("#918aa2"),
    diff_file_modified: Some("#c47d54"),
    commit_hash: Some("#918aa2"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#419a88"),
    danger_fg: Some("#e16666"),
    push_gauge_bg: Some("#2c2b2a"),
    push_gauge_fg: Some("#757845"),
    tag_fg: Some("#c47d54"),
    branch_fg: Some("#c37960"),
    block_title_focused: Some("#4b95ba"),
)
