// Lvim Colorscheme NordLight
(
    selected_tab: Some("#546272"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#5b6271"),
    diff_line_add: Some("#5b6454"),
    diff_line_delete: Some("#84575b"),
    diff_file_added: Some("#5b6454"),
    diff_file_removed: Some("#84575b"),
    diff_file_moved: Some("#665f70"),
    diff_file_modified: Some("#7a564b"),
    commit_hash: Some("#665f70"),
    commit_time: Some("#6f6146"),
    commit_author: Some("#576666"),
    danger_fg: Some("#84575b"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#7e8f70"),
    tag_fg: Some("#7a564b"),
    branch_fg: Some("#6e5a6b"),
    block_title_focused: Some("#546272"),
)
