// Lvim Colorscheme EverforestLight
(
    selected_tab: Some("#5089a6"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#8b9a83"),
    diff_line_add: Some("#7b7e3d"),
    diff_line_delete: Some("#c74d4d"),
    diff_file_added: Some("#7b7e3d"),
    diff_file_removed: Some("#c74d4d"),
    diff_file_moved: Some("#918c9d"),
    diff_file_modified: Some("#8d522b"),
    commit_hash: Some("#918c9d"),
    commit_time: Some("#8f8156"),
    commit_author: Some("#3d8b7c"),
    danger_fg: Some("#c74d4d"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#7b7e3d"),
    tag_fg: Some("#8d522b"),
    branch_fg: Some("#915a47"),
    block_title_focused: Some("#5089a6"),
)
