// Lvim Colorscheme DraculaDark
(
    selected_tab: Some("#6894a0"),
    command_fg: Some("#c7c7b3"),
    selection_bg: Some("#262832"),
    selection_fg: Some("#c2c2b7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#20222c"),
    cmdbar_extra_lines_bg: Some("#20222c"),
    disabled_fg: Some("#848caa"),
    diff_line_add: Some("#63996f"),
    diff_line_delete: Some("#cc7575"),
    diff_file_added: Some("#63996f"),
    diff_file_removed: Some("#cc7575"),
    diff_file_moved: Some("#9882b6"),
    diff_file_modified: Some("#b58f70"),
    commit_hash: Some("#9882b6"),
    commit_time: Some("#adb27e"),
    commit_author: Some("#659487"),
    danger_fg: Some("#cc7575"),
    push_gauge_bg: Some("#282a34"),
    push_gauge_fg: Some("#62966d"),
    tag_fg: Some("#b58f70"),
    branch_fg: Some("#c1729c"),
    block_title_focused: Some("#6894a0"),
)
