// Lvim Colorscheme NightfoxLight
(
    selected_tab: Some("#546d8e"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#646f7d"),
    diff_line_add: Some("#749182"),
    diff_line_delete: Some("#a75d70"),
    diff_file_added: Some("#749182"),
    diff_file_removed: Some("#a75d70"),
    diff_file_moved: Some("#8069a2"),
    diff_file_modified: Some("#ac7a53"),
    commit_hash: Some("#8069a2"),
    commit_time: Some("#897a50"),
    commit_author: Some("#599181"),
    danger_fg: Some("#a75d70"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#749182"),
    tag_fg: Some("#ac7a53"),
    branch_fg: Some("#755a88"),
    block_title_focused: Some("#546d8e"),
)
