// Lvim Colorscheme NordDark
(
    selected_tab: Some("#7990a8"),
    command_fg: Some("#b3bac6"),
    selection_bg: Some("#252a33"),
    selection_fg: Some("#b4bac6"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1f242d"),
    cmdbar_extra_lines_bg: Some("#1f242d"),
    disabled_fg: Some("#7e8dab"),
    diff_line_add: Some("#879978"),
    diff_line_delete: Some("#b97f85"),
    diff_file_added: Some("#879978"),
    diff_file_removed: Some("#b97f85"),
    diff_file_moved: Some("#92899d"),
    diff_file_modified: Some("#b88473"),
    commit_hash: Some("#92899d"),
    commit_time: Some("#c3a870"),
    commit_author: Some("#789796"),
    danger_fg: Some("#b97f85"),
    push_gauge_bg: Some("#272c35"),
    push_gauge_fg: Some("#879978"),
    tag_fg: Some("#b88473"),
    branch_fg: Some("#a2869d"),
    block_title_focused: Some("#7990a8"),
)
