// Lvim Colorscheme NightfoxDark
(
    selected_tab: Some("#7292bd"),
    command_fg: Some("#bcbdbd"),
    selection_bg: Some("#212e40"),
    selection_fg: Some("#bcbcbd"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#131a24"),
    cmdbar_extra_lines_bg: Some("#131a24"),
    disabled_fg: Some("#758292"),
    diff_line_add: Some("#89aa9a"),
    diff_line_delete: Some("#b46478"),
    diff_file_added: Some("#89aa9a"),
    diff_file_removed: Some("#b46478"),
    diff_file_moved: Some("#9380b2"),
    diff_file_modified: Some("#d49360"),
    commit_hash: Some("#9380b2"),
    commit_time: Some("#c1ac71"),
    commit_author: Some("#75bbbd"),
    danger_fg: Some("#b46478"),
    push_gauge_bg: Some("#29394f"),
    push_gauge_fg: Some("#89aa9a"),
    tag_fg: Some("#d49360"),
    branch_fg: Some("#9b82af"),
    block_title_focused: Some("#7292bd"),
)
