// Lvim Colorscheme TokyonightLight
(
    selected_tab: Some("#6579ac"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#8085a2"),
    diff_line_add: Some("#606f52"),
    diff_line_delete: Some("#ab5867"),
    diff_file_added: Some("#606f52"),
    diff_file_removed: Some("#ab5867"),
    diff_file_moved: Some("#8b7ea3"),
    diff_file_modified: Some("#b17f67"),
    commit_hash: Some("#8b7ea3"),
    commit_time: Some("#927d61"),
    commit_author: Some("#597d75"),
    danger_fg: Some("#ab5867"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#606f52"),
    tag_fg: Some("#b17f67"),
    branch_fg: Some("#765ba6"),
    block_title_focused: Some("#6579ac"),
)
