// Lvim Colorscheme KanagawaLight
(
    selected_tab: Some("#6385c2"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#9d9db5"),
    diff_line_add: Some("#697b51"),
    diff_line_delete: Some("#c35959"),
    diff_file_added: Some("#697b51"),
    diff_file_removed: Some("#c35959"),
    diff_file_moved: Some("#887fa0"),
    diff_file_modified: Some("#a87e56"),
    commit_hash: Some("#887fa0"),
    commit_time: Some("#816f4a"),
    commit_author: Some("#4b7889"),
    danger_fg: Some("#c35959"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#697b51"),
    tag_fg: Some("#a87e56"),
    branch_fg: Some("#94544f"),
    block_title_focused: Some("#6385c2"),
)
