// Lvim Colorscheme LvimLight
(
    selected_tab: Some("#0879a9"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#789698"),
    diff_line_add: Some("#748c50"),
    diff_line_delete: Some("#ac4135"),
    diff_file_added: Some("#748c50"),
    diff_file_removed: Some("#ac4135"),
    diff_file_moved: Some("#1981bd"),
    diff_file_modified: Some("#a96400"),
    commit_hash: Some("#1981bd"),
    commit_time: Some("#7e652f"),
    commit_author: Some("#228773"),
    danger_fg: Some("#ac4135"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#748c50"),
    tag_fg: Some("#a96400"),
    branch_fg: Some("#bc533c"),
    block_title_focused: Some("#0879a9"),
)
