// Lvim Colorscheme KanagawaDarker
(
    selected_tab: Some("#4e6a9c"),
    command_fg: Some("#54546d"),
    selection_bg: Some("#1e1f25"),
    selection_fg: Some("#5d5d79"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#18191f"),
    cmdbar_extra_lines_bg: Some("#18191f"),
    disabled_fg: Some("#4e4e73"),
    diff_line_add: Some("#6c7f54"),
    diff_line_delete: Some("#ba5454"),
    diff_file_added: Some("#6c7f54"),
    diff_file_removed: Some("#ba5454"),
    diff_file_moved: Some("#70658b"),
    diff_file_modified: Some("#bf8f62"),
    commit_hash: Some("#70658b"),
    commit_time: Some("#d1b57c"),
    commit_author: Some("#538396"),
    danger_fg: Some("#ba5454"),
    push_gauge_bg: Some("#202127"),
    push_gauge_fg: Some("#6c7f54"),
    tag_fg: Some("#bf8f62"),
    branch_fg: Some("#c4726c"),
    block_title_focused: Some("#4e6a9c"),
)
