// Lvim Colorscheme MaterialLight
(
    selected_tab: Some("#3c62a8"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#798991"),
    diff_line_add: Some("#5f7541"),
    diff_line_delete: Some("#a9484d"),
    diff_file_added: Some("#5f7541"),
    diff_file_removed: Some("#a9484d"),
    diff_file_moved: Some("#6f567f"),
    diff_file_modified: Some("#c77259"),
    commit_hash: Some("#6f567f"),
    commit_time: Some("#8b6d37"),
    commit_author: Some("#2b7362"),
    danger_fg: Some("#a9484d"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#5f7541"),
    tag_fg: Some("#c77259"),
    branch_fg: Some("#b44356"),
    block_title_focused: Some("#3c62a8"),
)
