// Lvim Colorscheme SolarizedDark
(
    selected_tab: Some("#5091c1"),
    command_fg: Some("#9da4a4"),
    selection_bg: Some("#022d38"),
    selection_fg: Some("#969e9e"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#002732"),
    cmdbar_extra_lines_bg: Some("#002732"),
    disabled_fg: Some("#788f97"),
    diff_line_add: Some("#859239"),
    diff_line_delete: Some("#e26361"),
    diff_file_added: Some("#859239"),
    diff_file_removed: Some("#e26361"),
    diff_file_moved: Some("#8789a9"),
    diff_file_modified: Some("#d47148"),
    commit_hash: Some("#8789a9"),
    commit_time: Some("#a68a49"),
    commit_author: Some("#499b7c"),
    danger_fg: Some("#e26361"),
    push_gauge_bg: Some("#042f3a"),
    push_gauge_fg: Some("#727c3e"),
    tag_fg: Some("#d47148"),
    branch_fg: Some("#db649e"),
    block_title_focused: Some("#5091c1"),
)
