// Lvim Colorscheme DraculaDarker
(
    selected_tab: Some("#648c96"),
    command_fg: Some("#c7c7b3"),
    selection_bg: Some("#1f2129"),
    selection_fg: Some("#c2c2b7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#191b23"),
    cmdbar_extra_lines_bg: Some("#191b23"),
    disabled_fg: Some("#7c84a3"),
    diff_line_add: Some("#62966d"),
    diff_line_delete: Some("#c76b6b"),
    diff_file_added: Some("#62966d"),
    diff_file_removed: Some("#c76b6b"),
    diff_file_moved: Some("#937db1"),
    diff_file_modified: Some("#b58f70"),
    commit_hash: Some("#937db1"),
    commit_time: Some("#adb27e"),
    commit_author: Some("#638e82"),
    danger_fg: Some("#c76b6b"),
    push_gauge_bg: Some("#21232b"),
    push_gauge_fg: Some("#62966d"),
    tag_fg: Some("#b58f70"),
    branch_fg: Some("#bf6f9a"),
    block_title_focused: Some("#648c96"),
)
