// Lvim Colorscheme KanagawaSoft
(
    selected_tab: Some("#578ee0"),
    command_fg: Some("#8888a7"),
    selection_bg: Some("#28292f"),
    selection_fg: Some("#8d8dac"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#222329"),
    cmdbar_extra_lines_bg: Some("#222329"),
    disabled_fg: Some("#8989b9"),
    diff_line_add: Some("#7c955b"),
    diff_line_delete: Some("#d96d6d"),
    diff_file_added: Some("#7c955b"),
    diff_file_removed: Some("#d96d6d"),
    diff_file_moved: Some("#9186ae"),
    diff_file_modified: Some("#bf8f62"),
    commit_hash: Some("#9186ae"),
    commit_time: Some("#d1b57c"),
    commit_author: Some("#5694ab"),
    danger_fg: Some("#d96d6d"),
    push_gauge_bg: Some("#2a2b31"),
    push_gauge_fg: Some("#6c7f54"),
    tag_fg: Some("#bf8f62"),
    branch_fg: Some("#c77973"),
    block_title_focused: Some("#578ee0"),
)
