// Lvim Colorscheme CatppuccinLight
(
    selected_tab: Some("#6279a4"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#727897"),
    diff_line_add: Some("#557153"),
    diff_line_delete: Some("#a45a6d"),
    diff_file_added: Some("#557153"),
    diff_file_removed: Some("#a45a6d"),
    diff_file_moved: Some("#9078ad"),
    diff_file_modified: Some("#ac8068"),
    commit_hash: Some("#9078ad"),
    commit_time: Some("#8a7b5e"),
    commit_author: Some("#55736e"),
    danger_fg: Some("#a45a6d"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#557153"),
    tag_fg: Some("#ac8068"),
    branch_fg: Some("#845377"),
    block_title_focused: Some("#6279a4"),
)
