// Lvim Colorscheme GruvboxLight
(
    selected_tab: Some("#4b6575"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#6a615a"),
    diff_line_add: Some("#616342"),
    diff_line_delete: Some("#9f4747"),
    diff_file_added: Some("#616342"),
    diff_file_removed: Some("#9f4747"),
    diff_file_moved: Some("#635f6d"),
    diff_file_modified: Some("#875537"),
    commit_hash: Some("#635f6d"),
    commit_time: Some("#696149"),
    commit_author: Some("#45685f"),
    danger_fg: Some("#9f4747"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#7a7d48"),
    tag_fg: Some("#875537"),
    branch_fg: Some("#895645"),
    block_title_focused: Some("#4b6575"),
)
