// Lvim Colorscheme TokyonightDarker
(
    selected_tab: Some("#6589d7"),
    command_fg: Some("#b2b6c7"),
    selection_bg: Some("#1c1e2b"),
    selection_fg: Some("#b5b9ca"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#0d0d11"),
    cmdbar_extra_lines_bg: Some("#0d0d11"),
    disabled_fg: Some("#616784"),
    diff_line_add: Some("#9dbd7b"),
    diff_line_delete: Some("#d76479"),
    diff_file_added: Some("#9dbd7b"),
    diff_file_removed: Some("#d76479"),
    diff_file_moved: Some("#9381b3"),
    diff_file_modified: Some("#dd8b5a"),
    commit_hash: Some("#9381b3"),
    commit_time: Some("#c5a06b"),
    commit_author: Some("#36a08b"),
    danger_fg: Some("#d76479"),
    push_gauge_bg: Some("#232739"),
    push_gauge_fg: Some("#9dbd7b"),
    tag_fg: Some("#dd8b5a"),
    branch_fg: Some("#9470d5"),
    block_title_focused: Some("#6589d7"),
)
