// Lvim Colorscheme RosepineLight
(
    selected_tab: Some("#73878f"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#95718d"),
    diff_line_add: Some("#5d6c60"),
    diff_line_delete: Some("#8e656e"),
    diff_file_added: Some("#5d6c60"),
    diff_file_removed: Some("#8e656e"),
    diff_file_moved: Some("#7f7c88"),
    diff_file_modified: Some("#a58382"),
    commit_hash: Some("#7f7c88"),
    commit_time: Some("#8c7b6a"),
    commit_author: Some("#6f877e"),
    danger_fg: Some("#8e656e"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#5d6c60"),
    tag_fg: Some("#a58382"),
    branch_fg: Some("#6d5f81"),
    block_title_focused: Some("#73878f"),
)
