// Lvim Colorscheme DraculaLight
(
    selected_tab: Some("#3a7885"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#6b728f"),
    diff_line_add: Some("#2f7a42"),
    diff_line_delete: Some("#ba4040"),
    diff_file_added: Some("#2f7a42"),
    diff_file_removed: Some("#ba4040"),
    diff_file_moved: Some("#75519f"),
    diff_file_modified: Some("#9e703f"),
    commit_hash: Some("#75519f"),
    commit_time: Some("#60652c"),
    commit_author: Some("#3a7885"),
    danger_fg: Some("#ba4040"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#2f7a42"),
    tag_fg: Some("#9e703f"),
    branch_fg: Some("#9f3d77"),
    block_title_focused: Some("#3a7885"),
)
