// Lvim Colorscheme KanagawaDark
(
    selected_tab: Some("#4d699b"),
    command_fg: Some("#54546d"),
    selection_bg: Some("#25262d"),
    selection_fg: Some("#5d5d79"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#17181c"),
    cmdbar_extra_lines_bg: Some("#17181c"),
    disabled_fg: Some("#4e4e73"),
    diff_line_add: Some("#6e8156"),
    diff_line_delete: Some("#b65252"),
    diff_file_added: Some("#6e8156"),
    diff_file_removed: Some("#b65252"),
    diff_file_moved: Some("#766b90"),
    diff_file_modified: Some("#c99460"),
    commit_hash: Some("#766b90"),
    commit_time: Some("#e0c286"),
    commit_author: Some("#4e8ca2"),
    danger_fg: Some("#b65252"),
    push_gauge_bg: Some("#292a32"),
    push_gauge_fg: Some("#6e8156"),
    tag_fg: Some("#c99460"),
    branch_fg: Some("#c4746e"),
    block_title_focused: Some("#4d699b"),
)
