// Lvim Colorscheme SolarizedLight
(
    selected_tab: Some("#4c799d"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#798890"),
    diff_line_add: Some("#727c3e"),
    diff_line_delete: Some("#ca5350"),
    diff_file_added: Some("#727c3e"),
    diff_file_removed: Some("#ca5350"),
    diff_file_moved: Some("#707293"),
    diff_file_modified: Some("#ab6044"),
    commit_hash: Some("#707293"),
    commit_time: Some("#786435"),
    commit_author: Some("#457e68"),
    danger_fg: Some("#ca5350"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#727c3e"),
    tag_fg: Some("#ab6044"),
    branch_fg: Some("#b35181"),
    block_title_focused: Some("#4c799d"),
)
