// Lvim Colorscheme NordSoft
(
    selected_tab: Some("#7c95af"),
    command_fg: Some("#b3bac6"),
    selection_bg: Some("#2a2f3a"),
    selection_fg: Some("#b4bac6"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#242934"),
    cmdbar_extra_lines_bg: Some("#242934"),
    disabled_fg: Some("#8292b2"),
    diff_line_add: Some("#879978"),
    diff_line_delete: Some("#bc858a"),
    diff_file_added: Some("#879978"),
    diff_file_removed: Some("#bc858a"),
    diff_file_moved: Some("#978fa2"),
    diff_file_modified: Some("#bc8675"),
    commit_hash: Some("#978fa2"),
    commit_time: Some("#c3a870"),
    commit_author: Some("#789796"),
    danger_fg: Some("#bc858a"),
    push_gauge_bg: Some("#2c313c"),
    push_gauge_fg: Some("#879978"),
    tag_fg: Some("#bc8675"),
    branch_fg: Some("#a78ba2"),
    block_title_focused: Some("#7c95af"),
)
