// Lvim Colorscheme CatppuccinDarker
(
    selected_tab: Some("#6076a0"),
    command_fg: Some("#b2b7c7"),
    selection_bg: Some("#1a1b22"),
    selection_fg: Some("#b2b7c7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#14151c"),
    cmdbar_extra_lines_bg: Some("#14151c"),
    disabled_fg: Some("#6c7393"),
    diff_line_add: Some("#6b8d69"),
    diff_line_delete: Some("#b7657a"),
    diff_file_added: Some("#6b8d69"),
    diff_file_removed: Some("#b7657a"),
    diff_file_moved: Some("#7c609b"),
    diff_file_modified: Some("#b88970"),
    commit_hash: Some("#7c609b"),
    commit_time: Some("#b8a47e"),
    commit_author: Some("#658882"),
    danger_fg: Some("#b7657a"),
    push_gauge_bg: Some("#1c1d24"),
    push_gauge_fg: Some("#6b8d69"),
    tag_fg: Some("#b88970"),
    branch_fg: Some("#b976a7"),
    block_title_focused: Some("#6076a0"),
)
