// Lvim Colorscheme BaseDarker
(
    selected_tab: Some("#447ca2"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#1e2427"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#181e21"),
    cmdbar_extra_lines_bg: Some("#181e21"),
    disabled_fg: Some("#4d6263"),
    diff_line_add: Some("#7e965a"),
    diff_line_delete: Some("#d75e52"),
    diff_file_added: Some("#7e965a"),
    diff_file_removed: Some("#d75e52"),
    diff_file_moved: Some("#40719a"),
    diff_file_modified: Some("#e19556"),
    commit_hash: Some("#40719a"),
    commit_time: Some("#d8b36f"),
    commit_author: Some("#407e70"),
    danger_fg: Some("#d75e52"),
    push_gauge_bg: Some("#202629"),
    push_gauge_fg: Some("#7e965a"),
    tag_fg: Some("#e19556"),
    branch_fg: Some("#c6614d"),
    block_title_focused: Some("#447ca2"),
)
