// Lvim Colorscheme NightfoxDark
(
    selected_tab: Some("#6885ad"),
    command_fg: Some("#bcbdbd"),
    selection_bg: Some("#1b2532"),
    selection_fg: Some("#bcbcbd"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#151f2c"),
    cmdbar_extra_lines_bg: Some("#151f2c"),
    disabled_fg: Some("#758292"),
    diff_line_add: Some("#7b998a"),
    diff_line_delete: Some("#b26377"),
    diff_file_added: Some("#7b998a"),
    diff_file_removed: Some("#b26377"),
    diff_file_moved: Some("#8670a7"),
    diff_file_modified: Some("#c88e62"),
    commit_hash: Some("#8670a7"),
    commit_time: Some("#bba76f"),
    commit_author: Some("#66a492"),
    danger_fg: Some("#b26377"),
    push_gauge_bg: Some("#1d2734"),
    push_gauge_fg: Some("#7b998a"),
    tag_fg: Some("#c88e62"),
    branch_fg: Some("#9a80ae"),
    block_title_focused: Some("#6885ad"),
)
