// Lvim Colorscheme NightfoxLight
(
    selected_tab: Some("#4a607e"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#646f7d"),
    diff_line_add: Some("#6b8578"),
    diff_line_delete: Some("#a65c6e"),
    diff_file_added: Some("#6b8578"),
    diff_file_removed: Some("#a65c6e"),
    diff_file_moved: Some("#725b95"),
    diff_file_modified: Some("#a9754b"),
    commit_hash: Some("#725b95"),
    commit_time: Some("#86774d"),
    commit_author: Some("#4e7f80"),
    danger_fg: Some("#a65c6e"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#6b8578"),
    tag_fg: Some("#a9754b"),
    branch_fg: Some("#725986"),
    block_title_focused: Some("#4a607e"),
)
