// Lvim Colorscheme KanagawaLight
(
    selected_tab: Some("#506285"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#606077"),
    diff_line_add: Some("#596648"),
    diff_line_delete: Some("#944c4c"),
    diff_file_added: Some("#596648"),
    diff_file_removed: Some("#944c4c"),
    diff_file_moved: Some("#645d79"),
    diff_file_modified: Some("#775e49"),
    commit_hash: Some("#645d79"),
    commit_time: Some("#6f6145"),
    commit_author: Some("#466875"),
    danger_fg: Some("#944c4c"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#697b51"),
    tag_fg: Some("#775e49"),
    branch_fg: Some("#8c514c"),
    block_title_focused: Some("#506285"),
)
