// Lvim Colorscheme MaterialSoft
(
    selected_tab: Some("#7596e3"),
    command_fg: Some("#b2c7c7"),
    selection_bg: Some("#29353b"),
    selection_fg: Some("#b8bec2"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#232f35"),
    cmdbar_extra_lines_bg: Some("#232f35"),
    disabled_fg: Some("#819aa5"),
    diff_line_add: Some("#90ad68"),
    diff_line_delete: Some("#dc7b7f"),
    diff_file_added: Some("#90ad68"),
    diff_file_removed: Some("#dc7b7f"),
    diff_file_moved: Some("#a68cba"),
    diff_file_modified: Some("#dc7e61"),
    commit_hash: Some("#a68cba"),
    commit_time: Some("#cfa96a"),
    commit_author: Some("#65b7a1"),
    danger_fg: Some("#dc7b7f"),
    push_gauge_bg: Some("#2b373d"),
    push_gauge_fg: Some("#90ad68"),
    tag_fg: Some("#dc7e61"),
    branch_fg: Some("#e27786"),
    block_title_focused: Some("#7596e3"),
)
