// Lvim Colorscheme MaterialDarker
(
    selected_tab: Some("#6187d6"),
    command_fg: Some("#b2c7c7"),
    selection_bg: Some("#1e272b"),
    selection_fg: Some("#b8bec2"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#182125"),
    cmdbar_extra_lines_bg: Some("#182125"),
    disabled_fg: Some("#788c96"),
    diff_line_add: Some("#90ad68"),
    diff_line_delete: Some("#d5696e"),
    diff_file_added: Some("#90ad68"),
    diff_file_removed: Some("#d5696e"),
    diff_file_moved: Some("#997ead"),
    diff_file_modified: Some("#d37a60"),
    commit_hash: Some("#997ead"),
    commit_time: Some("#cfa96a"),
    commit_author: Some("#65b7a1"),
    danger_fg: Some("#d5696e"),
    push_gauge_bg: Some("#20292d"),
    push_gauge_fg: Some("#90ad68"),
    tag_fg: Some("#d37a60"),
    branch_fg: Some("#da6576"),
    block_title_focused: Some("#6187d6"),
)
