// Lvim Colorscheme NordDark
(
    selected_tab: Some("#73889e"),
    command_fg: Some("#b3bac6"),
    selection_bg: Some("#252a33"),
    selection_fg: Some("#b4bac6"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1f242d"),
    cmdbar_extra_lines_bg: Some("#1f242d"),
    disabled_fg: Some("#677185"),
    diff_line_add: Some("#879978"),
    diff_line_delete: Some("#ac6e74"),
    diff_file_added: Some("#879978"),
    diff_file_removed: Some("#ac6e74"),
    diff_file_moved: Some("#887f93"),
    diff_file_modified: Some("#b88473"),
    commit_hash: Some("#887f93"),
    commit_time: Some("#c3a870"),
    commit_author: Some("#789796"),
    danger_fg: Some("#ac6e74"),
    push_gauge_bg: Some("#272c35"),
    push_gauge_fg: Some("#879978"),
    tag_fg: Some("#b88473"),
    branch_fg: Some("#a2869d"),
    block_title_focused: Some("#73889e"),
)
