// Lvim Colorscheme DraculaLight
(
    selected_tab: Some("#4c656d"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#5c6177"),
    diff_line_add: Some("#456a4d"),
    diff_line_delete: Some("#904f4f"),
    diff_file_added: Some("#456a4d"),
    diff_file_removed: Some("#904f4f"),
    diff_file_moved: Some("#6b5c81"),
    diff_file_modified: Some("#725e50"),
    commit_hash: Some("#6b5c81"),
    commit_time: Some("#61644b"),
    commit_author: Some("#49685f"),
    danger_fg: Some("#904f4f"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#466d4e"),
    tag_fg: Some("#725e50"),
    branch_fg: Some("#884f6e"),
    block_title_focused: Some("#4c656d"),
)
