// Lvim Colorscheme NordLight
(
    selected_tab: Some("#596a7c"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#737d95"),
    diff_line_add: Some("#7e8f70"),
    diff_line_delete: Some("#976065"),
    diff_file_added: Some("#7e8f70"),
    diff_file_removed: Some("#976065"),
    diff_file_moved: Some("#71687d"),
    diff_file_modified: Some("#7a564b"),
    commit_hash: Some("#71687d"),
    commit_time: Some("#8b774e"),
    commit_author: Some("#739190"),
    danger_fg: Some("#976065"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#7e8f70"),
    tag_fg: Some("#7a564b"),
    branch_fg: Some("#6e5a6b"),
    block_title_focused: Some("#596a7c"),
)
