// Lvim Colorscheme CatppuccinSoft
(
    selected_tab: Some("#6793da"),
    command_fg: Some("#b2b7c7"),
    selection_bg: Some("#2e2f40"),
    selection_fg: Some("#b2b7c7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#151522"),
    cmdbar_extra_lines_bg: Some("#151522"),
    disabled_fg: Some("#6c7393"),
    diff_line_add: Some("#84c27f"),
    diff_line_delete: Some("#d36d89"),
    diff_file_added: Some("#84c27f"),
    diff_file_removed: Some("#d36d89"),
    diff_file_moved: Some("#a183c5"),
    diff_file_modified: Some("#da9366"),
    commit_hash: Some("#a183c5"),
    commit_time: Some("#d8b973"),
    commit_author: Some("#7ac3b7"),
    danger_fg: Some("#d36d89"),
    push_gauge_bg: Some("#393b4a"),
    push_gauge_fg: Some("#84c27f"),
    tag_fg: Some("#da9366"),
    branch_fg: Some("#d07fba"),
    block_title_focused: Some("#6793da"),
)
