// Lvim Colorscheme GruvboxDarker
(
    selected_tab: Some("#4c8aaa"),
    command_fg: Some("#8f8071"),
    selection_bg: Some("#201f1e"),
    selection_fg: Some("#908577"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1a1918"),
    cmdbar_extra_lines_bg: Some("#1a1918"),
    disabled_fg: Some("#98806b"),
    diff_line_add: Some("#848846"),
    diff_line_delete: Some("#dc5a5a"),
    diff_file_added: Some("#848846"),
    diff_file_removed: Some("#dc5a5a"),
    diff_file_moved: Some("#877f98"),
    diff_file_modified: Some("#c47d54"),
    commit_hash: Some("#877f98"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#439180"),
    danger_fg: Some("#dc5a5a"),
    push_gauge_bg: Some("#222120"),
    push_gauge_fg: Some("#757845"),
    tag_fg: Some("#c47d54"),
    branch_fg: Some("#bb755e"),
    block_title_focused: Some("#4c8aaa"),
)
