// Lvim Colorscheme RosepineDark
(
    selected_tab: Some("#416d7f"),
    command_fg: Some("#b4b2c7"),
    selection_bg: Some("#282535"),
    selection_fg: Some("#b8b5c4"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#100f1a"),
    cmdbar_extra_lines_bg: Some("#100f1a"),
    disabled_fg: Some("#746e91"),
    diff_line_add: Some("#83b2ba"),
    diff_line_delete: Some("#cd6985"),
    diff_file_added: Some("#83b2ba"),
    diff_file_removed: Some("#cd6985"),
    diff_file_moved: Some("#958fa7"),
    diff_file_modified: Some("#c68784"),
    commit_hash: Some("#958fa7"),
    commit_time: Some("#d6a765"),
    commit_author: Some("#416d7f"),
    danger_fg: Some("#cd6985"),
    push_gauge_bg: Some("#363345"),
    push_gauge_fg: Some("#83b2ba"),
    tag_fg: Some("#c68784"),
    branch_fg: Some("#9f80c4"),
    block_title_focused: Some("#416d7f"),
)
