// Lvim Colorscheme DraculaSoft
(
    selected_tab: Some("#638993"),
    command_fg: Some("#c7c7b3"),
    selection_bg: Some("#2b2d38"),
    selection_fg: Some("#c2c2b7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#252732"),
    cmdbar_extra_lines_bg: Some("#252732"),
    disabled_fg: Some("#727a98"),
    diff_line_add: Some("#62966d"),
    diff_line_delete: Some("#bc6060"),
    diff_file_added: Some("#62966d"),
    diff_file_removed: Some("#bc6060"),
    diff_file_moved: Some("#796496"),
    diff_file_modified: Some("#b58f70"),
    commit_hash: Some("#796496"),
    commit_time: Some("#adb27e"),
    commit_author: Some("#638e82"),
    danger_fg: Some("#bc6060"),
    push_gauge_bg: Some("#2d2f3a"),
    push_gauge_fg: Some("#62966d"),
    tag_fg: Some("#b58f70"),
    branch_fg: Some("#bf6f9a"),
    block_title_focused: Some("#638993"),
)
