// Lvim Colorscheme SolarizedDarker
(
    selected_tab: Some("#4386b5"),
    command_fg: Some("#9da4a4"),
    selection_bg: Some("#06303a"),
    selection_fg: Some("#969e9e"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#001318"),
    cmdbar_extra_lines_bg: Some("#001318"),
    disabled_fg: Some("#5d6a6f"),
    diff_line_add: Some("#727f1a"),
    diff_line_delete: Some("#bf4e4c"),
    diff_file_added: Some("#727f1a"),
    diff_file_removed: Some("#bf4e4c"),
    diff_file_moved: Some("#8385a2"),
    diff_file_modified: Some("#ac5835"),
    commit_hash: Some("#8385a2"),
    commit_time: Some("#96791f"),
    commit_author: Some("#3e8d87"),
    danger_fg: Some("#bf4e4c"),
    push_gauge_bg: Some("#0c404c"),
    push_gauge_fg: Some("#727f1a"),
    tag_fg: Some("#ac5835"),
    branch_fg: Some("#b75283"),
    block_title_focused: Some("#4386b5"),
)
