// Lvim Colorscheme NightfoxSoft
(
    selected_tab: Some("#6e90bd"),
    command_fg: Some("#bcbdbd"),
    selection_bg: Some("#1f2a39"),
    selection_fg: Some("#bcbcbd"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#192433"),
    cmdbar_extra_lines_bg: Some("#192433"),
    disabled_fg: Some("#808fa2"),
    diff_line_add: Some("#7b998a"),
    diff_line_delete: Some("#c77489"),
    diff_file_added: Some("#7b998a"),
    diff_file_removed: Some("#c77489"),
    diff_file_moved: Some("#9882b9"),
    diff_file_modified: Some("#c88e62"),
    commit_hash: Some("#9882b9"),
    commit_time: Some("#bba76f"),
    commit_author: Some("#66a492"),
    danger_fg: Some("#c77489"),
    push_gauge_bg: Some("#212c3b"),
    push_gauge_fg: Some("#7b998a"),
    tag_fg: Some("#c88e62"),
    branch_fg: Some("#9d83b0"),
    block_title_focused: Some("#6e90bd"),
)
