// Lvim Colorscheme NightfoxLight
(
    selected_tab: Some("#4e637f"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#5a626e"),
    diff_line_add: Some("#57665e"),
    diff_line_delete: Some("#895260"),
    diff_file_added: Some("#57665e"),
    diff_file_removed: Some("#895260"),
    diff_file_moved: Some("#6d5a89"),
    diff_file_modified: Some("#795c47"),
    commit_hash: Some("#6d5a89"),
    commit_time: Some("#6c6147"),
    commit_author: Some("#4b6960"),
    danger_fg: Some("#895260"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#749182"),
    tag_fg: Some("#795c47"),
    branch_fg: Some("#725884"),
    block_title_focused: Some("#4e637f"),
)
