// Lvim Colorscheme GruvboxDark
(
    selected_tab: Some("#42728b"),
    command_fg: Some("#645c54"),
    selection_bg: Some("#2c2a29"),
    selection_fg: Some("#746c63"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#181714"),
    cmdbar_extra_lines_bg: Some("#181714"),
    disabled_fg: Some("#64584e"),
    diff_line_add: Some("#75783a"),
    diff_line_delete: Some("#cb4f4f"),
    diff_file_added: Some("#75783a"),
    diff_file_removed: Some("#cb4f4f"),
    diff_file_moved: Some("#635d71"),
    diff_file_modified: Some("#cc7942"),
    commit_hash: Some("#635d71"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#357b6d"),
    danger_fg: Some("#cb4f4f"),
    push_gauge_bg: Some("#353231"),
    push_gauge_fg: Some("#75783a"),
    tag_fg: Some("#cc7942"),
    branch_fg: Some("#bb755e"),
    block_title_focused: Some("#42728b"),
)
