// Lvim Colorscheme SolarizedDarker
(
    selected_tab: Some("#5089b4"),
    command_fg: Some("#9da4a4"),
    selection_bg: Some("#022129"),
    selection_fg: Some("#969e9e"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#001b23"),
    cmdbar_extra_lines_bg: Some("#001b23"),
    disabled_fg: Some("#72878e"),
    diff_line_add: Some("#7e8a3c"),
    diff_line_delete: Some("#dd5755"),
    diff_file_added: Some("#7e8a3c"),
    diff_file_removed: Some("#dd5755"),
    diff_file_moved: Some("#7f81a2"),
    diff_file_modified: Some("#c16a49"),
    commit_hash: Some("#7f81a2"),
    commit_time: Some("#9f8549"),
    commit_author: Some("#4a8f74"),
    danger_fg: Some("#dd5755"),
    push_gauge_bg: Some("#04232b"),
    push_gauge_fg: Some("#727c3e"),
    tag_fg: Some("#c16a49"),
    branch_fg: Some("#cf5a93"),
    block_title_focused: Some("#5089b4"),
)
