// Lvim Colorscheme TokyonightSoft
(
    selected_tab: Some("#6073a4"),
    command_fg: Some("#b2b6c7"),
    selection_bg: Some("#242730"),
    selection_fg: Some("#b5b9ca"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1e212a"),
    cmdbar_extra_lines_bg: Some("#1e212a"),
    disabled_fg: Some("#616784"),
    diff_line_add: Some("#788a67"),
    diff_line_delete: Some("#bb6171"),
    diff_file_added: Some("#788a67"),
    diff_file_removed: Some("#bb6171"),
    diff_file_moved: Some("#73638e"),
    diff_file_modified: Some("#bb866d"),
    commit_hash: Some("#73638e"),
    commit_time: Some("#b79d7b"),
    commit_author: Some("#5a7f76"),
    danger_fg: Some("#bb6171"),
    push_gauge_bg: Some("#262932"),
    push_gauge_fg: Some("#788a67"),
    tag_fg: Some("#bb866d"),
    branch_fg: Some("#907bba"),
    block_title_focused: Some("#6073a4"),
)
