// Lvim Colorscheme SolarizedSoft
(
    selected_tab: Some("#4f9dd2"),
    command_fg: Some("#9da4a4"),
    selection_bg: Some("#023643"),
    selection_fg: Some("#969e9e"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#00303d"),
    cmdbar_extra_lines_bg: Some("#00303d"),
    disabled_fg: Some("#809aa4"),
    diff_line_add: Some("#8f9d33"),
    diff_line_delete: Some("#e77371"),
    diff_file_added: Some("#8f9d33"),
    diff_file_removed: Some("#e77371"),
    diff_file_moved: Some("#9293b3"),
    diff_file_modified: Some("#e27647"),
    commit_hash: Some("#9293b3"),
    commit_time: Some("#b09148"),
    commit_author: Some("#48a482"),
    danger_fg: Some("#e77371"),
    push_gauge_bg: Some("#043845"),
    push_gauge_fg: Some("#727c3e"),
    tag_fg: Some("#e27647"),
    branch_fg: Some("#e06fa5"),
    block_title_focused: Some("#4f9dd2"),
)
