// Lvim Colorscheme LvimSoft
(
    selected_tab: Some("#0A85B9"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#313a40"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1e2325"),
    cmdbar_extra_lines_bg: Some("#1e2325"),
    disabled_fg: Some("#4d6263"),
    diff_line_add: Some("#8AA55F"),
    diff_line_delete: Some("#e65e4f"),
    diff_file_added: Some("#8AA55F"),
    diff_file_removed: Some("#e65e4f"),
    diff_file_moved: Some("#177ab3"),
    diff_file_modified: Some("#FF9C2A"),
    commit_hash: Some("#177ab3"),
    commit_time: Some("#edc060"),
    commit_author: Some("#218471"),
    danger_fg: Some("#e65e4f"),
    push_gauge_bg: Some("#3c474f"),
    push_gauge_fg: Some("#8AA55F"),
    tag_fg: Some("#FF9C2A"),
    branch_fg: Some("#c75940"),
    block_title_focused: Some("#0A85B9"),
)
