// Lvim Colorscheme BaseSoft
(
    selected_tab: Some("#399bd3"),
    command_fg: Some("#649999"),
    selection_bg: Some("#282f33"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#22292d"),
    cmdbar_extra_lines_bg: Some("#22292d"),
    disabled_fg: Some("#68999b"),
    diff_line_add: Some("#80995b"),
    diff_line_delete: Some("#e46d62"),
    diff_file_added: Some("#80995b"),
    diff_file_removed: Some("#e46d62"),
    diff_file_moved: Some("#2c98dc"),
    diff_file_modified: Some("#e19556"),
    commit_hash: Some("#2c98dc"),
    commit_time: Some("#d8b36f"),
    commit_author: Some("#36a28d"),
    danger_fg: Some("#e46d62"),
    push_gauge_bg: Some("#2a3135"),
    push_gauge_fg: Some("#7e965a"),
    tag_fg: Some("#e19556"),
    branch_fg: Some("#e86b50"),
    block_title_focused: Some("#399bd3"),
)
