// Lvim Colorscheme DraculaDark
(
    selected_tab: Some("#65c8dd"),
    command_fg: Some("#c7c7b3"),
    selection_bg: Some("#2c2e3a"),
    selection_fg: Some("#c2c2b7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1b1d25"),
    cmdbar_extra_lines_bg: Some("#1b1d25"),
    disabled_fg: Some("#727a98"),
    diff_line_add: Some("#58d879"),
    diff_line_delete: Some("#dd5757"),
    diff_file_added: Some("#58d879"),
    diff_file_removed: Some("#dd5757"),
    diff_file_moved: Some("#9c80c3"),
    diff_file_modified: Some("#de9f5c"),
    commit_hash: Some("#9c80c3"),
    commit_time: Some("#d0da68"),
    commit_author: Some("#65c8dd"),
    danger_fg: Some("#dd5757"),
    push_gauge_bg: Some("#343644"),
    push_gauge_fg: Some("#58d879"),
    tag_fg: Some("#de9f5c"),
    branch_fg: Some("#dc61a8"),
    block_title_focused: Some("#65c8dd"),
)
