// Lvim Colorscheme KanagawaDark
(
    selected_tab: Some("#5588d7"),
    command_fg: Some("#8383a2"),
    selection_bg: Some("#222329"),
    selection_fg: Some("#8787a7"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1c1d23"),
    cmdbar_extra_lines_bg: Some("#1c1d23"),
    disabled_fg: Some("#8383b4"),
    diff_line_add: Some("#789059"),
    diff_line_delete: Some("#d66666"),
    diff_file_added: Some("#789059"),
    diff_file_removed: Some("#d66666"),
    diff_file_moved: Some("#8c81a9"),
    diff_file_modified: Some("#bf8f62"),
    commit_hash: Some("#8c81a9"),
    commit_time: Some("#d1b57c"),
    commit_author: Some("#558ea4"),
    danger_fg: Some("#d66666"),
    push_gauge_bg: Some("#24252b"),
    push_gauge_fg: Some("#6c7f54"),
    tag_fg: Some("#bf8f62"),
    branch_fg: Some("#c4726c"),
    block_title_focused: Some("#5588d7"),
)
