// Lvim Colorscheme GruvboxSoft
(
    selected_tab: Some("#497188"),
    command_fg: Some("#645c54"),
    selection_bg: Some("#2a2928"),
    selection_fg: Some("#746c63"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#242322"),
    cmdbar_extra_lines_bg: Some("#242322"),
    disabled_fg: Some("#64584e"),
    diff_line_add: Some("#757845"),
    diff_line_delete: Some("#ca4f4f"),
    diff_file_added: Some("#757845"),
    diff_file_removed: Some("#ca4f4f"),
    diff_file_moved: Some("#635d71"),
    diff_file_modified: Some("#c47d54"),
    commit_hash: Some("#635d71"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#43796d"),
    danger_fg: Some("#ca4f4f"),
    push_gauge_bg: Some("#2c2b2a"),
    push_gauge_fg: Some("#757845"),
    tag_fg: Some("#c47d54"),
    branch_fg: Some("#bb755e"),
    block_title_focused: Some("#497188"),
)
