// Lvim Colorscheme TokyonightDarker
(
    selected_tab: Some("#6982bf"),
    command_fg: Some("#b2b6c7"),
    selection_bg: Some("#1a1d24"),
    selection_fg: Some("#b5b9ca"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#14171e"),
    cmdbar_extra_lines_bg: Some("#14171e"),
    disabled_fg: Some("#7880a4"),
    diff_line_add: Some("#788a67"),
    diff_line_delete: Some("#c46475"),
    diff_file_added: Some("#788a67"),
    diff_file_removed: Some("#c46475"),
    diff_file_moved: Some("#8a79a7"),
    diff_file_modified: Some("#bb866d"),
    commit_hash: Some("#8a79a7"),
    commit_time: Some("#b79d7b"),
    commit_author: Some("#5f8a80"),
    danger_fg: Some("#c46475"),
    push_gauge_bg: Some("#1c1f26"),
    push_gauge_fg: Some("#788a67"),
    tag_fg: Some("#bb866d"),
    branch_fg: Some("#907bba"),
    block_title_focused: Some("#6982bf"),
)
