// Lvim Colorscheme SolarizedSoft
(
    selected_tab: Some("#4f7ea3"),
    command_fg: Some("#9da4a4"),
    selection_bg: Some("#023643"),
    selection_fg: Some("#969e9e"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#00303d"),
    cmdbar_extra_lines_bg: Some("#00303d"),
    disabled_fg: Some("#5d6a6f"),
    diff_line_add: Some("#727c3e"),
    diff_line_delete: Some("#c24f4d"),
    diff_file_added: Some("#727c3e"),
    diff_file_removed: Some("#c24f4d"),
    diff_file_moved: Some("#757797"),
    diff_file_modified: Some("#b46548"),
    commit_hash: Some("#757797"),
    commit_time: Some("#9f8549"),
    commit_author: Some("#49866e"),
    danger_fg: Some("#c24f4d"),
    push_gauge_bg: Some("#043845"),
    push_gauge_fg: Some("#727c3e"),
    tag_fg: Some("#b46548"),
    branch_fg: Some("#c0578a"),
    block_title_focused: Some("#4f7ea3"),
)
