// Lvim Colorscheme NordSoft
(
    selected_tab: Some("#8097af"),
    command_fg: Some("#b3bac6"),
    selection_bg: Some("#303643"),
    selection_fg: Some("#b4bac6"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1f232c"),
    cmdbar_extra_lines_bg: Some("#1f232c"),
    disabled_fg: Some("#677185"),
    diff_line_add: Some("#97ab86"),
    diff_line_delete: Some("#af7177"),
    diff_file_added: Some("#97ab86"),
    diff_file_removed: Some("#af7177"),
    diff_file_moved: Some("#9b93a4"),
    diff_file_modified: Some("#ba8574"),
    commit_hash: Some("#9b93a4"),
    commit_time: Some("#cbae72"),
    commit_author: Some("#88aaa9"),
    danger_fg: Some("#af7177"),
    push_gauge_bg: Some("#373e4d"),
    push_gauge_fg: Some("#97ab86"),
    tag_fg: Some("#ba8574"),
    branch_fg: Some("#a58aa0"),
    block_title_focused: Some("#8097af"),
)
