// Lvim Colorscheme MaterialDark
(
    selected_tab: Some("#6b8edd"),
    command_fg: Some("#b2c7c7"),
    selection_bg: Some("#242f34"),
    selection_fg: Some("#b8bec2"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1e292e"),
    cmdbar_extra_lines_bg: Some("#1e292e"),
    disabled_fg: Some("#7e949f"),
    diff_line_add: Some("#90ad68"),
    diff_line_delete: Some("#d97478"),
    diff_file_added: Some("#90ad68"),
    diff_file_removed: Some("#d97478"),
    diff_file_moved: Some("#a186b5"),
    diff_file_modified: Some("#d37a60"),
    commit_hash: Some("#a186b5"),
    commit_time: Some("#cfa96a"),
    commit_author: Some("#65b7a1"),
    danger_fg: Some("#d97478"),
    push_gauge_bg: Some("#263136"),
    push_gauge_fg: Some("#90ad68"),
    tag_fg: Some("#d37a60"),
    branch_fg: Some("#df707f"),
    block_title_focused: Some("#6b8edd"),
)
