// Lvim Colorscheme RosepineSoft
(
    selected_tab: Some("#738d98"),
    command_fg: Some("#b3afb2"),
    selection_bg: Some("#252328"),
    selection_fg: Some("#b9b4b5"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1f1d22"),
    cmdbar_extra_lines_bg: Some("#1f1d22"),
    disabled_fg: Some("#a97b9f"),
    diff_line_add: Some("#7a8e7e"),
    diff_line_delete: Some("#ab7c86"),
    diff_file_added: Some("#7a8e7e"),
    diff_file_removed: Some("#ab7c86"),
    diff_file_moved: Some("#898693"),
    diff_file_modified: Some("#a98a89"),
    commit_hash: Some("#898693"),
    commit_time: Some("#b6a18b"),
    commit_author: Some("#708f84"),
    danger_fg: Some("#ab7c86"),
    push_gauge_bg: Some("#27252a"),
    push_gauge_fg: Some("#788b7c"),
    tag_fg: Some("#a98a89"),
    branch_fg: Some("#9084a2"),
    block_title_focused: Some("#738d98"),
)
