// Lvim Colorscheme BaseDark
(
    selected_tab: Some("#3e92c5"),
    command_fg: Some("#619191"),
    selection_bg: Some("#22292d"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1c2327"),
    cmdbar_extra_lines_bg: Some("#1c2327"),
    disabled_fg: Some("#659395"),
    diff_line_add: Some("#7e965a"),
    diff_line_delete: Some("#e1655a"),
    diff_file_added: Some("#7e965a"),
    diff_file_removed: Some("#e1655a"),
    diff_file_moved: Some("#3392d2"),
    diff_file_modified: Some("#e19556"),
    commit_hash: Some("#3392d2"),
    commit_time: Some("#d8b36f"),
    commit_author: Some("#3b9986"),
    danger_fg: Some("#e1655a"),
    push_gauge_bg: Some("#242b2f"),
    push_gauge_fg: Some("#7e965a"),
    tag_fg: Some("#e19556"),
    branch_fg: Some("#de684e"),
    block_title_focused: Some("#3e92c5"),
)
