// Lvim Colorscheme CatppuccinLight
(
    selected_tab: Some("#5d8bd3"),
    command_fg: Some("#5e8888"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#55a6ab"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#727897"),
    diff_line_add: Some("#557f51"),
    diff_line_delete: Some("#9d445e"),
    diff_file_added: Some("#557f51"),
    diff_file_removed: Some("#9d445e"),
    diff_file_moved: Some("#734e98"),
    diff_file_modified: Some("#aa724e"),
    commit_hash: Some("#734e98"),
    commit_time: Some("#7f6c41"),
    commit_author: Some("#4b7b73"),
    danger_fg: Some("#9d445e"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#557f51"),
    tag_fg: Some("#aa724e"),
    branch_fg: Some("#c065a9"),
    block_title_focused: Some("#5d8bd3"),
)
