// Lvim Colorscheme TokyonightLight
(
    selected_tab: Some("#546182"),
    command_fg: Some("#4c6262"),
    selection_bg: Some("#e9e9e9"),
    selection_fg: Some("#4b6f72"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#dadada"),
    cmdbar_extra_lines_bg: Some("#dadada"),
    disabled_fg: Some("#5e6278"),
    diff_line_add: Some("#5a674e"),
    diff_line_delete: Some("#904f5b"),
    diff_file_added: Some("#5a674e"),
    diff_file_removed: Some("#904f5b"),
    diff_file_moved: Some("#675c7a"),
    diff_file_modified: Some("#785c50"),
    commit_hash: Some("#675c7a"),
    commit_time: Some("#6e6050"),
    commit_author: Some("#4e6761"),
    danger_fg: Some("#904f5b"),
    push_gauge_bg: Some("#eeeeee"),
    push_gauge_fg: Some("#606f52"),
    tag_fg: Some("#785c50"),
    branch_fg: Some("#6d5599"),
    block_title_focused: Some("#546182"),
)
