// Lvim Colorscheme EverforestDark
(
    selected_tab: Some("#3a97bf"),
    command_fg: Some("#808e7c"),
    selection_bg: Some("#252c2c"),
    selection_fg: Some("#889784"),
    use_selection_fg: Some(true),
    cmdbar_bg: Some("#1f2424"),
    cmdbar_extra_lines_bg: Some("#1f2424"),
    disabled_fg: Some("#7c9370"),
    diff_line_add: Some("#8f9330"),
    diff_line_delete: Some("#e16666"),
    diff_file_added: Some("#8f9330"),
    diff_file_removed: Some("#e16666"),
    diff_file_moved: Some("#918aa2"),
    diff_file_modified: Some("#cc7942"),
    commit_hash: Some("#918aa2"),
    commit_time: Some("#af9e6b"),
    commit_author: Some("#1c9d88"),
    danger_fg: Some("#e16666"),
    push_gauge_bg: Some("#272e2e"),
    push_gauge_fg: Some("#75783a"),
    tag_fg: Some("#cc7942"),
    branch_fg: Some("#c37960"),
    block_title_focused: Some("#3a97bf"),
)
