[manager]
cwd = { fg = "#544c45", italic = true }

# Hovered
hovered         = { bg = "#2c2a29" }
preview_hovered = { bg = "#2c2a29" }

# Find
find_keyword  = { fg = "#181714", bg = "#cc7942", bold = true }
find_position = { fg = "#3a6479", bg = "#242829", bold = true }

# Marker
marker_copied   = { fg = "#a6935a", bg = "#a6935a" }
marker_cut      = { fg = "#cb4f4f", bg = "#cb4f4f" }
marker_marked   = { fg = "#bb755e", bg = "#bb755e" }
marker_selected = { fg = "#42728b", bg = "#42728b" }

# Tab
tab_active   = { fg = "#645c54", bg = "#2c2a29" }
tab_inactive = { fg = "#5c544d", bg = "#222120" }
tab_width    = 1

# Count
count_copied   = { fg = "#645c54", bg = "#656831" }
count_cut      = { fg = "#645c54", bg = "#c53b3b" }
count_selected = { fg = "#645c54", bg = "#2d695d" }

# Border
border_symbol = "│"
border_style  = { fg = "#585a2e" }

[mode]
normal_main = { fg = "#1b1a1a", bg = "#42728b", bold = true }
normal_alt  = { fg = "#42728b", bg = "#5c544d" }

select_main = { fg = "#1b1a1a", bg = "#bb755e", bold = true }
select_alt  = { fg = "#bb755e", bg = "#5c544d" }

unset_main  = { fg = "#1b1a1a", bg = "#635d71", bold = true }
unset_alt   = { fg = "#635d71", bg = "#5c544d" }

[status]
separator_open    = ""
separator_close   = ""
# separator_style = { fg = "#5c544d", bg = "#5c544d" }

# Progress
progress_label  = { fg = "#544c45", bold = true }
progress_normal = { fg = "#222120" }
progress_error  = { fg = "#cb4f4f" }

# Permissions
perm_type  = { fg = "#42728b" }
perm_read  = { fg = "#af9e6b" }
perm_write = { fg = "#cb4f4f" }
perm_exec  = { fg = "#75783a" }
perm_sep   = { fg = "#63584f" }

[pick]
border   = { fg = "#585a2e" }
active   = { fg = "#645c54",  bg = "#2c2a29" }
inactive = { fg = "#645c54" }

# Input
[input]
border   = { fg = "#3a6479" }
title    = { fg = "#3a6479" }
value    = { fg = "#635d71" }
selected = { bg = "#2c2a29" }

# Completion
[completion]
border   = { fg = "#3a6479" }
active   = { fg = "#645c54", bg = "#2c2a29" }
inactive = { fg = "#645c54" }

icon_file    = ""
icon_folder  = ""
icon_command = ""

# Tasks
[tasks]
border  = { fg = "#585a2e" }
title   = { fg = "#585a2e" }
hovered = { fg = "#645c54", bg="#2c2a29" }

# Which
[which]
cols            = 3
mask            = { bg = "#181714" }
cand            = { fg = "#527a57" }
rest            = { fg = "#42728b" }
desc            = { fg = "#bb755e" }
separator       = " ➜ "
separator_style = { fg = "#63584f" }

# Confirm
[confirm]
border  = { fg = "#3a6479" }
title   = { fg = "#585a2e" }
content = {}
list    = {}
btn_yes = { bg = "#2c2a29" }
btn_no  = {}
btn_labels = [ "  [Y]es  ", "  (N)o  " ]

# Spot
[spot]
border  = { fg = "#585a2e" }
title   = { fg = "#585a2e" }

# Notify
[notify]
title_info  = { fg = "#3a6479" }
title_warn  = { fg = "#b86d3c" }
title_error = { fg = "#c53b3b" }

icon_error = ""
icon_warn = ""
icon_info = ""

# Help
[help]
on      = { fg = "#75783a" }
run     = { fg = "#bb755e" }
hovered = { bg = "#2c2a29" }
footer  = { fg = "#645c54", bg = "#222120" }

[filetype]

rules = [
	# Images
	{ mime = "image/*", fg = "#af9e6b" },

	# Media
	{ mime = "{audio,video}/*", fg = "#bb755e" },

	# Archives
	{ mime = "application/*zip", fg = "#cb4f4f" },
	{ mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "#cb4f4f" },

	# Documents
	{ mime = "application/{pdf,doc,rtf,vnd.*}", fg = "#527a57" },

	# Empty files
	# { mime = "inode/x-empty", fg = "#cb4f4f" },

	# Special files
	{ name = "*", is = "orphan", bg = "#cb4f4f" },
	{ name = "*", is = "exec"  , fg = "#75783a" },

	# Fallback
	{ name = "*/", fg = "#42728b" }
]
    