[manager]
cwd = { fg = "#93b6b6", italic = true }

# Hovered
hovered         = { bg = "#e9e9e9" }
preview_hovered = { bg = "#e9e9e9" }

# Find
find_keyword  = { fg = "#dadada", bg = "#a96400", bold = true }
find_position = { fg = "#0d8abf", bg = "#cfdbe0", bold = true }

# Marker
marker_copied   = { fg = "#876826", bg = "#876826" }
marker_cut      = { fg = "#ac4135", bg = "#ac4135" }
marker_marked   = { fg = "#bc533c", bg = "#bc533c" }
marker_selected = { fg = "#0879a9", bg = "#0879a9" }

# Tab
tab_active   = { fg = "#5e8888", bg = "#e9e9e9" }
tab_inactive = { fg = "#3c7478", bg = "#E4E4E4" }
tab_width    = 1

# Count
count_copied   = { fg = "#5e8888", bg = "#556738" }
count_cut      = { fg = "#5e8888", bg = "#c53f30" }
count_selected = { fg = "#5e8888", bg = "#2a9b86" }

# Border
border_symbol = "│"
border_style  = { fg = "#72805a" }

[mode]
normal_main = { fg = "#b6b6b6", bg = "#0879a9", bold = true }
normal_alt  = { fg = "#0879a9", bg = "#3c7478" }

select_main = { fg = "#b6b6b6", bg = "#bc533c", bold = true }
select_alt  = { fg = "#bc533c", bg = "#3c7478" }

unset_main  = { fg = "#b6b6b6", bg = "#1981bd", bold = true }
unset_alt   = { fg = "#1981bd", bg = "#3c7478" }

[status]
separator_open    = ""
separator_close   = ""
# separator_style = { fg = "#3c7478", bg = "#3c7478" }

# Progress
progress_label  = { fg = "#93b6b6", bold = true }
progress_normal = { fg = "#E4E4E4" }
progress_error  = { fg = "#ac4135" }

# Permissions
perm_type  = { fg = "#0879a9" }
perm_read  = { fg = "#7e652f" }
perm_write = { fg = "#ac4135" }
perm_exec  = { fg = "#748c50" }
perm_sep   = { fg = "#789698" }

[pick]
border   = { fg = "#72805a" }
active   = { fg = "#5e8888",  bg = "#e9e9e9" }
inactive = { fg = "#5e8888" }

# Input
[input]
border   = { fg = "#0d8abf" }
title    = { fg = "#0d8abf" }
value    = { fg = "#1981bd" }
selected = { bg = "#e9e9e9" }

# Completion
[completion]
border   = { fg = "#0d8abf" }
active   = { fg = "#5e8888", bg = "#e9e9e9" }
inactive = { fg = "#5e8888" }

icon_file    = ""
icon_folder  = ""
icon_command = ""

# Tasks
[tasks]
border  = { fg = "#72805a" }
title   = { fg = "#72805a" }
hovered = { fg = "#5e8888", bg="#e9e9e9" }

# Which
[which]
cols            = 3
mask            = { bg = "#dadada" }
cand            = { fg = "#01778a" }
rest            = { fg = "#0879a9" }
desc            = { fg = "#bc533c" }
separator       = " ➜ "
separator_style = { fg = "#789698" }

# Confirm
[confirm]
border  = { fg = "#0d8abf" }
title   = { fg = "#72805a" }
content = {}
list    = {}
btn_yes = { bg = "#e9e9e9" }
btn_no  = {}
btn_labels = [ "  [Y]es  ", "  (N)o  " ]

# Spot
[spot]
border  = { fg = "#72805a" }
title   = { fg = "#72805a" }

# Notify
[notify]
title_info  = { fg = "#0d8abf" }
title_warn  = { fg = "#b66400" }
title_error = { fg = "#c53f30" }

icon_error = ""
icon_warn = ""
icon_info = ""

# Help
[help]
on      = { fg = "#748c50" }
run     = { fg = "#bc533c" }
hovered = { bg = "#e9e9e9" }
footer  = { fg = "#5e8888", bg = "#E4E4E4" }

[filetype]

rules = [
	# Images
	{ mime = "image/*", fg = "#7e652f" },

	# Media
	{ mime = "{audio,video}/*", fg = "#bc533c" },

	# Archives
	{ mime = "application/*zip", fg = "#ac4135" },
	{ mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "#ac4135" },

	# Documents
	{ mime = "application/{pdf,doc,rtf,vnd.*}", fg = "#01778a" },

	# Empty files
	# { mime = "inode/x-empty", fg = "#ac4135" },

	# Special files
	{ name = "*", is = "orphan", bg = "#ac4135" },
	{ name = "*", is = "exec"  , fg = "#748c50" },

	# Fallback
	{ name = "*/", fg = "#0879a9" }
]
    